.components-title {
  font-size: 78px;
  letter-spacing: -2px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1% 0 0 5%;
}

.components-main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1% 0 0 0;
}

.components-main-container .components-main-left {
  width: 70%;
  position: relative;
  min-height: 900px;
}

.components-main-container .components-main-right {
  width: 30%;
}

.components-main-showcase{
  position: fixed;
  scale: 0.9;
}

.components-main-showcase img {
  position: absolute;
  top: 0;
  left: 0;
  scale: 0.8;
  transition: all 0.3s;
}

.components-main-showcase #base {
  top: 15px;
}

.components-main-showcase #headrest {
  top: 0;
  left: 315px;
  opacity: 0;
  transition: all 0.3s;
}

.components-main-showcase #pushhandlers {
  top: 115px;
  left: 200px;
  opacity: 0;
}

.components-main-showcase #phoneholder {
  top: 254px;
  left: 794px;
  opacity: 0;
}

.components-main-showcase #storagebag {
  top: 265px;
  left: 201px;
  opacity: 0;
}

.components-main-showcase #sideguardarm {
  top: 175px;
  left: 241px;
  opacity: 0;
}

.components-main-showcase #sideguardthigh {
  top: 374px;
  left: 638px;
  opacity: 0;
}

.components-main-showcase #infusionbracket {
  top: -155px;
  left: 437px;
  opacity: 0;
}

.components-main-model,
.components-main-accessories {
  display: flex;
  flex-direction: column;
}

.components-main-model p {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.components-main-accessories p {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin-top: 50px;
}

.components-main-model button {
  border-radius: 13px;
  background-color: #f5f5f7;
  border: #f5f5f7 3px solid;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 0.7;
  color: #b5b5b5;
  font-weight: 400;
  font-family: "Outfit";
  margin-bottom: 15px;
  text-align: left;
  padding: 25px 0 25px 20px;
  width: 82%;
  transition: all 0.2s ease-in-out;
}

.accessories-list {
  display: flex;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  flex-basis: 48%;
}

.accessories-list .accessories-item {
  height: auto;
  border-radius: 13px;
  background-color: #f5f5f7;
  padding: 35px 0px 20px 0px;
  text-align: center;
}

.accessories-list .accessories-item img {
  width: 80%;
}

.accessories-list .accessories-item h5 {
  margin-top: 40px;
}

.accessories-item:nth-child(6) h5 {
  padding-top: 65px;
}

.components-main-submit {
  margin-top: 70px;
}

.components-main-submit button {
  border-radius: 13px;
  background-color: #ff6317;
  border: #ff6317 3px solid;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 0.7;
  color: #ffffff;
  font-weight: 400;
  font-family: "Outfit";
  margin-bottom: 70px;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 82%;
  transition: all 0.2s ease-in-out;
}

.components-main-submit button:hover {
  background-color: #ffffff;
  border: #ff6317 3px solid;
  color: #000000;
}
.accessories-item2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 280px;
  background-color: #f5f5f7;
  border-radius: 13px;
  cursor: pointer;
  border: #f5f5f7 3px solid;
  transition: all 0.2s ease-in-out;
}

.accessories-item2 img {
  width: 80%;
}

.accessories-item2 h5 {
  text-align: center;
}

.accessories-guard .accessories-item2:nth-child(1) {
  margin-bottom: 20px;
}

.accessories-list .accessories-item2:nth-child(6) {
  height: 580px;
}

.components-main-model .active {
  background-color: #ffffff;
  border: #ff6317 3px solid;
}

.accessories-item2.active {
  background-color: #ffffff;
  border: #ff6317 3px solid;
}
