.div-inline{
    display:inline-block;
}

.float-right{
    float: right;
    padding: 10px 5px;
    color: #000;
    width: 100%;
}

.div-inline{
    position:absolute; 
    top:28%; 
    right:5%; 
    z-index: 10001;
}

@media (max-width: 768px){
    .navbar-toggle{
        margin-right: 50px;
    }

    .btn{
        padding: 6.5px 9px;
    }
    .div-inline{
        top: 12px;
        right: 2%;
    }

    .navbar-collapse{
        margin-top: 10px;
    }
}

.dropdown-item{
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
}

.dropdown-menu{
    transition: all 0.4s ease-in-out;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto black;
    outline-offset: -2px;
}

.fa-globe{
    font-size: 22px;
    color: #000;
}

.btn{
    background-color: transparent;
}