/****************************************/
.footer-section {
    position: relative;
    max-width: calc(10% + 3440px);
    margin: 0 auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .footer-text-wrapper {
    position: relative;
    width: 100%;
    max-width: 1224.5px;
    height: min-content;
    margin-top: 100px;
    margin-bottom: 140px;
    z-index: 2;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .footer-text-wrapper h1 {
    font-size: 27px;
    letter-spacing: 6px;
    line-height: 1.81;
    color: #ffffff;
    font-weight: 400;
    font-family: "Outfit";
  }
  
  .footer-text-wrapper .contact-us-info {
    display: grid;
    grid-template-columns: 250px 250px 250px;
  }
  
  .footer-text-wrapper h1 {
    letter-spacing: 6px;
  }
  
  .footer-section i {
    font-size: 30px;
    color: #b8b8b8;
  }
  
  .footer-section hr {
    opacity: 1;
    color: #ffffff;
    display: block;
    max-width: 3440px;
    width: 100%;
    border-color: #4a4a4a;
    background-color: #c9c9c9;
  }
  
  .footer-section .footer-description {
    font-size: 20px;
    line-height: 2.9;
    color: #ffffff;
    font-weight: 250;
    font-family: "Outfit";
  }
  
  .footer-text-wrapper .location-info {
    display: grid;
    grid-template-columns: auto;
  }
  
  .footer-breakline{
    display: none;
  }
  
  @media (max-width: 1024px){
    .footer-text-wrapper {
      margin-top: 100px;
    }
  }
  
  @media (max-width: 768px){
    .footer-text-wrapper .contact-us-info {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: auto auto auto;
  }
  .footer-text-wrapper {
    margin-top: 70px;
  }
  }
  
  @media (max-width: 567.5px){
    .footer-breakline{
      display: inline;
    }
    .footer-text-wrapper {
      margin-top: 50px;
    }
  }