.slider-container {
  max-width: 3440px;
  width: 100%;
  padding: 100px 0;
}
.slide-content {
  margin: 0;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
}
.card {
  width: 320px;
  border-radius: 25px 25px 0 0;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 0;
  height: 814px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  border-radius: 25px 25px 0 25px;
}

.card-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ededed;
  border-radius: 25px 25px 0 0;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 25px 25px 0 0;
}
.date {
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 1.1;
  color: #000000;
  font-weight: 400;
  padding-top: 10px;
}
.description {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #000000;
  font-weight: 600;
  width: 240px;
}
.button {
  border: none;
  font-size: 19px;
  color: #000;
  padding: 10px 50px;
  background-color: #ffffff;
  border-radius: 40px;
  border: #000 solid 1px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #000;
  color: #ffffff;
}

.swiper-navBtn {
  color: #606060;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #000000;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
  display: none;
}
.swiper-button-prev {
  left: 0;
  display: none;
}
.swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}

#mini-swiper-pagination {
  top: 2%;
  height: 20px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(1);
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 19px;
    color: #000;
    padding: 5px 30px;
  }
}

@media screen and (max-width: 768.5px) {
  .index-event {
    height: 840px;
  }
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

@media screen and (max-width: 599.5px) {
  .index-event {
    height: 800px;
  }
  .slider-container {
    padding: 0 0 40px 0;
  }
  .slide-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 4%;
  }
  .description {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .index-event {
    height: 700px;
  }
  .index-event .index-event-word-wrapper {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 350px) {
  .index-event {
    height: 650px;
  }
  .slide-content {
    padding: 0 2%;
  }
  .slide-content {
    border-radius: 25px 25px 0 0;
  }
  .button {
    font-size: 19px;
    color: #000;
    padding: 5px 20px;
  }
  .description {
    width: 100%;
  }
}
