section#popAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.3);

  transition: 1s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
    0.1s background-color linear 0s;
}

section#popAlert.active {
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.6s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
    0.1s background-color linear 0.3s;
}

section#popAlert aside {
  width: 550px;
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  margin: 0 5%;
}

section#popAlert aside h2 {
  font-size: 32px;
  color: #ee2b2b;
  margin-left: auto;
  white-space: nowrap;
}

section#popAlert aside p {
  font-size: 21px;
  margin: 30px 0 5px 0;
  text-align: start;
}

section#popAlert aside button[type="button"] {
  width: 50px;
  font-size: 25px;
  font-weight: 600;
  margin-top: -5px;
  border: none;
  padding: 5px 0;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.3s all ease-in-out;
  color: #000;
}

.popAlert-first-row {
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: center;
}

section#popAlert aside #closeButton {
  position: relative;
  right: 0;
  margin-left: auto;
}

@media screen and (max-width: 450px) {
  section#popAlert aside h2 {
    font-size: 28px;
  }
  section#popAlert aside p {
    font-size: 18px;
  }
  section#popAlert aside button[type="button"] {
    font-size: 21px;
  }
}

@media screen and (max-width: 400px) {
  section#popAlert aside h2 {
    font-size: 24px;
  }
  section#popAlert aside p {
    font-size: 18px;
  }
  section#popAlert aside button[type="button"] {
    font-size: 22px;
    margin-top: -5px;
  }
}

@media screen and (max-width: 400px) {
  section#popAlert aside h2 {
    font-size: 24px;
  }
  section#popAlert aside p {
    font-size: 18px;
  }
  section#popAlert aside button[type="button"] {
    font-size: 22px;
    margin-top: -5px;
  }
}

@media screen and (max-width: 310px) {
  section#popAlert aside #closeButton {
    padding-left: 40px;
  }
  section#popAlert aside button[type="button"] {
    font-size: 22px;
    margin-top: -8px;
  }
  section#popAlert aside h2 {
    font-size: 7vw;
  }
  section#popAlert aside p {
    font-size: 5vw;
    margin: 5vw 0 3vw 0;
  }
  section#popAlert aside button[type="button"] {
    font-size: 7vw;
  }
}

/*---------------------------------------------------------------*/
section#popAlert2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.3);

  transition: 1s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
    0.1s background-color linear 0s;
}

section#popAlert2.active {
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.6s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
    0.1s background-color linear 0.3s;
}

section#popAlert2 aside {
  width: 550px;
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  margin: 0 5%;
}

section#popAlert2 aside h2 {
  font-size: 32px;
  color: #ee2b2b;
  margin-left: auto;
  white-space: nowrap;
}

section#popAlert2 aside p {
  font-size: 21px;
  margin: 30px 0 5px 0;
  text-align: start;
}

section#popAlert2 aside button[type="button"] {
  width: 50px;
  font-size: 25px;
  font-weight: 600;
  margin-top: -5px;
  border: none;
  padding: 5px 0;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.3s all ease-in-out;
  color: #000;
}

.popAlert2-first-row {
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: center;
}

section#popAlert2 aside #closeButton {
  position: relative;
  right: 0;
  margin-left: auto;
}

@media screen and (max-width: 450px) {
  section#popAlert2 aside h2 {
    font-size: 28px;
  }
  section#popAlert2 aside p {
    font-size: 18px;
  }
  section#popAlert2 aside button[type="button"] {
    font-size: 21px;
  }
}

@media screen and (max-width: 400px) {
  section#popAlert2 aside h2 {
    font-size: 24px;
  }
  section#popAlert2 aside p {
    font-size: 18px;
  }
  section#popAlert2 aside button[type="button"] {
    font-size: 22px;
    margin-top: -5px;
  }
}

@media screen and (max-width: 400px) {
  section#popAlert2 aside h2 {
    font-size: 24px;
  }
  section#popAlert2 aside p {
    font-size: 18px;
  }
  section#popAlert2 aside button[type="button"] {
    font-size: 22px;
    margin-top: -5px;
  }
}

@media screen and (max-width: 310px) {
  section#popAlert2 aside #closeButton {
    padding-left: 40px;
  }
  section#popAlert2 aside button[type="button"] {
    font-size: 22px;
    margin-top: -8px;
  }
  section#popAlert2 aside h2 {
    font-size: 7vw;
  }
  section#popAlert2 aside p {
    font-size: 5vw;
    margin: 5vw 0 3vw 0;
  }
  section#popAlert2 aside button[type="button"] {
    font-size: 7vw;
  }
}
