:root {
  --white-color: #ffffff;
  --primary-color: #247cff;
  --section-bg-color: #f9f9f9;
  --dark-color: #000000;
  --title-color: #565758;
  --p-color: #717275;
  --border-color: #eaeaea;

  --body-font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ffffff;
  font-family: var(--body-font-family);
  position: relative;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

/*-----------------------Start mini-index--------------------------------------*/
.power-index {
  background-image: linear-gradient(#ededed, #ffffff);
  height: 1330px;
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
}

.power-index .power-index-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.power-index .power-index-image-wrapper .unit-image-power {
  background-image: url(../img/power-new/power-index.png);
  width: 100%;
  height: 1230px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none;
  transform: none;
}

@media screen and (max-width: 1260px) {
  .power-index {
    height: 1330px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 1230px;
    background-size: 3340px auto;
  }
}

@media screen and (max-width: 1025px) {
  .power-index {
    height: 1330px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 1230px;
    background-size: 3240px auto;
  }
}

@media screen and (max-width: 900px) {
  .power-index {
    height: 1230px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 1230px;
    background-size: 3040px auto;
  }
}

@media screen and (max-width: 850px) {
  .power-index {
    height: 1230px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 1130px;
    background-size: 2840px auto;
  }
}

@media screen and (max-width: 800px) {
  .power-index {
    height: 1130px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 1030px;
    background-size: 2640px auto;
  }
}

@media screen and (max-width: 768.5px) {
  .power-index {
    height: 930px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 930px;
    background-size: 2240px auto;
  }
}

@media screen and (max-width: 700px) {
  .power-index {
    height: 880px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 880px;
    background-size: 2040px auto;
  }
}

@media screen and (max-width: 600px) {
  .power-index {
    height: 750px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 750px;
    background-size: 1840px auto;
  }
}

@media screen and (max-width: 550px) {
  .power-index {
    height: 650px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 650px;
    background-size: 1740px auto;
  }
}

@media screen and (max-width: 500px) {
  .power-index {
    height: 600px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 600px;
    background-size: 1540px auto;
  }
}

@media screen and (max-width: 450px) {
  .power-index {
    height: 550px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 550px;
    background-size: 1340px auto;
  }
}

@media screen and (max-width: 400px) {
  .power-index {
    height: 450px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 450px;
    background-size: 1140px auto;
  }
}

@media screen and (max-width: 350px) {
  .power-index {
    height: 450px;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 450px;
    background-size: 1040px auto;
  }
}

@media screen and (max-width: 300px) {
  .power-index {
    height: 160vw;
  }
  .power-index .power-index-image-wrapper .unit-image-power {
    height: 150vw;
    background-size: 350vw auto;
  }
}
/*-------------------------------------------------------------*/

/*-----------------------Start power-index-container--------------------------------------*/
.power-index-container {
  background-color: #ffffff;
  height: 850px;
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
}

.power-index-container .power-index-container-word-wrapper {
  max-width: calc(1114px + 4%);
  padding: 0 2%;
  width: 100%;
  height: min-content;
  margin: 0 auto;
}

.power-index-container .power-index-container-word-wrapper p {
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  font-weight: 300;
  text-align: center;
}

.power-index-container .power-index-container-button-wrapper {
  text-align: center;
  margin-top: 50px;
}

.power-buy-button {
  width: 107px;
  height: 32px;
  border-radius: 16px;
  background-color: #232323;
  font-size: 22px;
  line-height: 1;
  color: #ffffff;
  font-weight: 400;
}

.power-index-container .power-index-container-image-wrapper {
  max-width: 1312px;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.power-index-container .power-index-container-image-wrapper .power-95deg {
  width: 45%;
  display: inline-block;
  text-align: center;
}

.power-index-container .power-index-container-image-wrapper .power-145deg {
  width: 45%;
  display: inline-block;
  text-align: center;
}

.power-95deg p {
  font-size: 22px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  margin-top: 50px;
}

.power-145deg p {
  font-size: 22px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  margin-top: 50px;
}

.power-index-container .breakline-lg {
  display: block;
}

@media screen and (max-width: 1000px) {
  .power-index-container .power-index-container-image-wrapper .power-95deg img {
    width: 200px;
    height: auto;
  }
  .power-95deg p {
    margin-top: 25px;
  }
  .power-index-container
    .power-index-container-image-wrapper
    .power-145deg
    img {
    width: 232px;
  }
  .power-145deg p {
    margin-top: 25px;
  }
  .power-index-container {
    height: auto;
  }
  .power-index-container .power-index-container-image-wrapper {
    margin: 100px auto 100px auto;
  }
}

@media screen and (max-width: 768.5px) {
  .power-buy-button {
    width: auto;
    height: auto;
    border-radius: 32px;
    font-size: 25px;
    padding: 1.5% 6%;
  }
  .power-index-container .power-index-container-image-wrapper .power-95deg img {
    width: 160px;
    height: auto;
  }
  .power-index-container
    .power-index-container-image-wrapper
    .power-145deg
    img {
    width: 192px;
  }
}

@media screen and (max-width: 620px) {
  .power-index-container .breakline-lg {
    display: none;
  }
  .power-index-container .power-index-container-image-wrapper .power-95deg img {
    width: 130px;
  }
  .power-index-container
    .power-index-container-image-wrapper
    .power-145deg
    img {
    width: 144px;
  }
  .power-index-container .power-index-container-image-wrapper {
    margin: 100px auto 100px auto;
  }
  .power-95deg p {
    font-size: 19px;
  }
  .power-145deg p {
    font-size: 19px;
  }
}

@media screen and (max-width: 500px) {
  .power-index-container .power-index-container-image-wrapper {
    flex-wrap: wrap;
    row-gap: 5vw;
  }
  .power-index-container .power-index-container-image-wrapper .power-95deg {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .power-index-container .power-index-container-image-wrapper .power-95deg img {
    width: 100px;
  }
  .power-index-container
    .power-index-container-image-wrapper
    .power-145deg
    img {
    width: 120px;
  }
  .power-95deg p {
    font-size: 19px;
  }
  .power-145deg p {
    font-size: 19px;
  }
  .power-index-container .power-index-container-image-wrapper {
    margin: 70px auto 70px auto;
  }
}

@media screen and (max-width: 300px) {
  .power-index-container .power-index-container-image-wrapper {
    column-gap: 5vw;
  }
  .power-index-container .power-index-container-word-wrapper p {
    font-size: 6vw;
    line-height: 1.2;
    color: #000000;
    font-weight: 300;
    text-align: center;
  }
  .power-index-container .power-index-container-image-wrapper .power-95deg img {
    width: 40vw;
  }
  .power-index-container
    .power-index-container-image-wrapper
    .power-145deg
    img {
    width: 40vw;
  }
  .power-95deg p {
    margin-top: 5vw;
    font-size: 6vw;
  }
  .power-145deg p {
    margin-top: 5vw;
    font-size: 6vw;
  }
  .power-index-container .power-index-container-image-wrapper {
    margin: 30vw auto 30vw auto;
  }
}
/*-----------------------Finish power-index-container--------------------------------------*/

/*-----------------------Start power-data--------------------------------------*/
.power-data-section {
  background-color: #ededed;
  height: 400px;
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.power-data-section .data {
  flex: 1;
  text-align: center;
  height: 200px;
}

.power-data-section .data-image {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.power-data-section .data .data-description {
  font-size: 22px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
}

.data-breakline-lg {
  display: none;
}

@media screen and (max-width: 1439.5px) {
  .power-data-section {
    height: 600px;
  }
  .power-data-section .data {
    flex-basis: calc(100% / 3);
  }
  .power-data-section {
    margin: 50px auto;
  }
}

@media screen and (max-width: 650px) {
  .data-breakline-lg {
    display: block;
  }
  .power-data-section .data {
    height: 250px;
  }
  .power-data-section .data-image {
    height: 70%;
  }
}

@media screen and (max-width: 620px) {
  .power-data-section .data .data-description {
    font-size: 19px;
  }
}

@media screen and (max-width: 550px) {
  .data .data-image img {
    scale: 0.8;
  }
  .power-data-section .data-image {
    height: 55%;
  }
  .power-data-section .data .data-description {
    font-size: 19px;
  }
  .power-data-section {
    height: 550px;
  }
  .power-data-section {
    margin: 30px auto;
  }
}

@media screen and (max-width: 500px) {
  .data .data-image img {
    scale: 0.7;
  }
  .power-data-section .data-image {
    height: 55%;
  }
  .power-data-section {
    margin: 30px auto;
  }
  .power-data-section .data {
    flex-basis: calc(90% / 3);
  }
}

@media screen and (max-width: 450px) {
  .data .data-image img {
    scale: 0.6;
  }
  .power-data-section .data-image {
    height: 55%;
  }
}

@media screen and (max-width: 450px) {
  .power-data-section {
    height: 650px;
  }
  .power-data-section .data {
    height: 200px;
  }
  .power-data-section .data {
    flex-basis: calc(100% / 2 - 20px);
  }
  .power-data-section {
    margin: 20px auto;
  }
}

@media screen and (max-width: 300px) {
  .power-data-section .data .data-description {
    font-size: 6vw;
  }
  .power-data-section .data {
    width: 50%;
  }
}

@media screen and (max-width: 275px) {
  .power-data-section {
    height: 1200px;
  }
  .power-data-section .data {
    flex-basis: calc(100% / 1);
  }
  .data-breakline-lg {
    display: none;
  }
  .power-data-section .data {
    height: auto;
  }
}
/*-----------------------Finish power-data--------------------------------------*/

/*-----------------------Start power-ultrasonic--------------------------------------*/
.power-ultrasonic-section {
  background-color: #ffffff;
  height: 1714px;
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
}

.power-ultrasonic-section .power-ultrasonic-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.power-ultrasonic-section
  .power-ultrasonic-image-wrapper
  .unit-image-ultrasonic {
  background-image: url(../img/power-new/power-ultrasonic.png);
  width: 100%;
  height: 1714px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none;
  transform: none;
}

.power-ultrasonic-section .power-ultrasonic-word-wrapper {
  z-index: 5;
  position: absolute;
  bottom: 6%;
  width: 100%;
}

.power-ultrasonic-section .power-ultrasonic-word-wrapper h1 {
  font-size: 70px;
  letter-spacing: -2px;
  line-height: 1.1;
  color: #000000;
  font-weight: 400;
  text-align: center;
}

.power-ultrasonic-section .power-ultrasonic-word-wrapper p {
  max-width: 1114px;
  height: min-content;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1023.5px) {
  .power-ultrasonic-section {
    height: 1514px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 1514px;
    background-size: 3040px auto;
  }
  .power-ultrasonic-section .power-ultrasonic-word-wrapper {
    bottom: 3%;
  }
}

@media screen and (max-width: 950px) {
  .power-ultrasonic-section {
    height: 1314px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 1314px;
    background-size: 2640px auto;
  }
  .power-ultrasonic-section .power-ultrasonic-word-wrapper {
    bottom: 0%;
  }
}

@media screen and (max-width: 800px) {
  .power-ultrasonic-section {
    height: 1214px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 1214px;
    background-size: 2240px auto;
  }
}

@media screen and (max-width: 768.5px) {
  .power-ultrasonic-section .power-ultrasonic-word-wrapper {
    bottom: 5%;
  }
  .power-ultrasonic-section {
    height: 1275px;
  }
}

@media screen and (max-width: 700px) {
  .power-ultrasonic-section {
    height: 1214px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 1214px;
    background-size: 2140px auto;
  }
}

@media screen and (max-width: 650px) {
  .power-ultrasonic-section {
    height: 1114px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 1114px;
    background-size: 2040px auto;
  }
}

@media screen and (max-width: 600px) {
  .power-ultrasonic-section {
    height: 1200px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 1050px;
    background-size: 1940px auto;
  }
  .power-ultrasonic-section .power-ultrasonic-word-wrapper {
    bottom: 10%;
  }
}

@media screen and (max-width: 550px) {
  .power-ultrasonic-section {
    height: 1150px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 950px;
    background-size: 1740px auto;
  }
}

@media screen and (max-width: 450px) {
  .power-ultrasonic-section {
    height: 1050px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 950px;
    background-size: 1640px auto;
  }
  .power-ultrasonic-section .power-ultrasonic-word-wrapper h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .power-ultrasonic-section {
    height: 1000px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 900px;
    background-size: 1540px auto;
  }
}

@media screen and (max-width: 350px) {
  .power-ultrasonic-section {
    height: 900px;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 800px;
    background-size: 1340px auto;
  }
  .power-ultrasonic-section .power-ultrasonic-word-wrapper h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 300px) {
  .power-ultrasonic-section {
    height: 285vw;
  }
  .power-ultrasonic-section
    .power-ultrasonic-image-wrapper
    .unit-image-ultrasonic {
    height: 250vw;
    background-size: 450vw auto;
  }
  .power-ultrasonic-section .power-ultrasonic-word-wrapper h1 {
    font-size: 15vw;
  }
  .power-ultrasonic-section .power-ultrasonic-word-wrapper p {
    font-size: 7vw;
  }
}
/*-----------------------Finish power-ultrasonic--------------------------------------*/

/*-----------------------Start power-control--------------------------------------*/
.power-control-section {
  background-color: #ffffff;
  height: 1394px;
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
}

.power-control-section .power-control-word-wrapper {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
}

.power-control-section .power-control-word-wrapper h1 {
  font-size: 70px;
  letter-spacing: -2px;
  line-height: 1.1;
  color: #000000;
  font-weight: 400;
}

.power-control-section .power-control-word-wrapper p {
  max-width: 1114px;
  height: min-content;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.power-control-section .power-control-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.power-control-section .power-control-image-wrapper .unit-image-control {
  background-image: url(../img/power-new/power-control-panel.png);
  width: 100%;
  height: 1400px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none;
  transform: none;
}

.power-control-breakline-lg {
  display: none;
}

@media screen and (max-width: 1250px) {
  .power-control-section {
    height: 1313px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 1400px;
    background-size: 3040px auto;
  }
}

@media screen and (max-width: 1150px) {
  .power-control-section {
    height: 1132px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 1200px;
    background-size: 2640px auto;
  }
}

@media screen and (max-width: 900px) {
  .power-control-section {
    height: 1003px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 1100px;
    background-size: 2240px auto;
  }
}

@media screen and (max-width: 768.5px) {
  .power-control-section {
    height: 772px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 800px;
    background-size: 1840px auto;
  }
  .power-control-section .power-control-word-wrapper {
    top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .power-control-section {
    height: 686px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 750px;
    background-size: 1540px auto;
  }
  .power-control-section .power-control-word-wrapper {
    top: 70px;
  }
}

@media screen and (max-width: 550px) {
  .power-control-section {
    height: 646px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 750px;
    background-size: 1340px auto;
  }
  .power-control-breakline-lg {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .power-control-section {
    height: 646px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 750px;
    background-size: 1340px auto;
  }
}

@media screen and (max-width: 450px) {
  .power-control-section .power-control-word-wrapper h1 {
    font-size: 50px;
  }
  .power-control-section {
    height: 556px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 650px;
    background-size: 1140px auto;
  }
  .power-control-section .power-control-word-wrapper {
    top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .power-control-section {
    height: 511px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 600px;
    background-size: 1040px auto;
  }
}

@media screen and (max-width: 350px) {
  .power-control-section .power-control-word-wrapper h1 {
    font-size: 50px;
  }
  .power-control-section {
    height: 490px;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 600px;
    background-size: 940px auto;
  }
}

@media screen and (max-width: 300px) {
  .power-control-section .power-control-word-wrapper h1 {
    font-size: 15vw;
  }
  .power-control-section .power-control-word-wrapper p {
    font-size: 7vw;
  }
  .power-control-section {
    height: 149vw;
  }
  .power-control-section .power-control-image-wrapper .unit-image-control {
    height: 185vw;
    background-size: 280vw auto;
  }
  .power-control-section .power-control-word-wrapper {
    top: 30px;
  }
}

/*-----------------------Finish power-control--------------------------------------*/

/*-----------------------Start power-app--------------------------------------*/
.power-app-showcase-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  background-color: #ededed;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.power-app-word-wrapper {
  background-color: #ededed;
  padding-top: 186px;
  width: 100%;
  text-align: center;
  max-width: 3440px;
  margin: 0 auto;
  padding: 80px 0 80px 0;
}

.power-app-word-wrapper h1 {
  font-size: 70px;
  letter-spacing: -2px;
  line-height: 1.1;
  color: #000000;
  font-weight: 400;
}

.power-app-word-wrapper p {
  max-width: 1114px;
  height: min-content;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.glide__slide img {
  width: 100%;
}

.glide__bullet {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 1;
  min-width: 25px;
  margin: 0 5px;
}

.glide__bullet--active {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
  min-width: 25px;
  margin: 0 5px;
}

.glide__bullets {
  bottom: 0;
  top: -2em;
}

.power-app-breakline-lg {
  display: none;
}

@media screen and (max-width: 1200px) {
  .glide__bullet {
    width: 4vw;
  }

  .glide__bullet--active {
    width: 4vw;
  }
}

@media screen and (max-width: 950px) {
  .power-app-word-wrapper p {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .power-app-breakline-lg {
    display: block;
  }
  .power-app-word-wrapper {
    padding: 40px 0 80px 0;
  }
}

@media screen and (max-width: 450px) {
  .power-app-word-wrapper h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 300px) {
  .power-app-word-wrapper h1 {
    font-size: 15vw;
  }
  .power-app-word-wrapper p {
    font-size: 7vw;
  }
}

/*-----------------------Finish power-app--------------------------------------*/

/*-----------------------Start power-removable--------------------------------------*/
.power-removable-section {
    background-color: #ffffff;
    height: 1540px;
    position: relative;
    max-width: 3440px;
    margin: 0 auto;
  }
  
  .power-removable-section .power-removable-word-wrapper {
    margin-top: 80px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0 2%;
  }
  
  .power-removable-section .power-removable-word-wrapper h1 {
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 1.1;
    color: #000000;
    font-weight: 400;
  }
  
  .power-removable-section .power-removable-word-wrapper p {
    max-width: 1114px;
    height: min-content;
    font-size: 20px;
    line-height: 1.3;
    color: #000000;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
  }
  
  .power-removable-section .power-removable-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .power-removable-section .power-removable-image-wrapper .unit-image-removable {
    background-image: url(../img/power-new/power-removable.png);
    width: 100%;
    height: 1350px;
    background-size: 3440px auto;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-transform: none;
    transform: none;
  }
  
  .power-removable-breakline-lg {
    display: none;
  }
  
  @media screen and (max-width: 1300px) {
    .power-removable-section {
      height: 1200px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 1250px;
      background-size: 3040px auto;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .power-removable-section {
      height: 1100px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 1150px;
      background-size: 2640px auto;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .power-removable-section {
      height: 1000px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 1050px;
      background-size: 2440px auto;
    }
  }
  
  @media screen and (max-width: 950px) {
    .power-removable-section .power-removable-word-wrapper p {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .power-removable-section {
      height: 925px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 950px;
      background-size: 2240px auto;
    }
  }
  
  @media screen and (max-width: 850px) {
    .power-removable-section {
      height: 900px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 950px;
      background-size: 2040px auto;
    }
  }
  
  @media screen and (max-width: 800px) {
    .power-removable-section {
      height: 850px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 900px;
      background-size: 1840px auto;
    }
  }
  
  @media screen and (max-width: 700px) {
    .power-removable-section {
      height: 850px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 900px;
      background-size: 1740px auto;
    }
  }
  
  @media screen and (max-width: 650px) {
    .power-removable-section {
      height: 750px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 850px;
      background-size: 1540px auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .power-removable-breakline-lg {
      display: block;
    }
    .power-removable-section {
      height: 900px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 1000px;
      background-size: 1540px auto;
    }
  }
  
  @media screen and (max-width: 550px) {
    .power-removable-section .power-removable-word-wrapper {
      margin-top: 40px;
    }
    .power-removable-section {
      height: 725px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 850px;
      background-size: 1340px auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .power-removable-section {
      height: 700px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 800px;
      background-size: 1140px auto;
    }
  }
  
  @media screen and (max-width: 450px) {
    .power-removable-section .power-removable-word-wrapper h1 {
      font-size: 50px;
    }
    .power-removable-section {
      height: 600px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 700px;
      background-size: 1040px auto;
    }
  }
  
  @media screen and (max-width: 400px) {
    .power-removable-section {
      height: 550px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 650px;
      background-size: 940px auto;
    }
  }
  
  @media screen and (max-width: 350px) {
    .power-removable-section {
      height: 525px;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 650px;
      background-size: 840px auto;
    }
  }
  
  @media screen and (max-width: 300px) {
    .power-removable-section .power-removable-word-wrapper h1 {
      font-size: 15vw;
    }
    .power-removable-section .power-removable-word-wrapper p {
      font-size: 7vw;
    }
    .power-removable-section {
      height: 170vw;
    }
    .power-removable-section .power-removable-image-wrapper .unit-image-removable {
      height: 210vw;
      background-size: 270vw auto;
    }
  }
  
/*-----------------------Finish power-removable--------------------------------------*/

/*-----------------------Start mini-components--------------------------------------*/
.mini-components-section {
  background-color: #ffffff;
  height: 1865px;
  position: relative;
  max-width: 3440px;
}

.mini-components-section .mini-components-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #ededed;
}

.mini-components-section .mini-components-image-wrapper .unit-image-components {
  background-image: url(../img/mini-new/mini-components.png);
  width: 100%;
  height: 1865px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none;
  transform: none;
}

.mini-components-section .mini-components-word-wrapper {
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.mini-components-section .mini-components-word-wrapper h1 {
  margin-bottom: 39px;
  font-size: 70px;
  letter-spacing: -2px;
  line-height: 1.1;
  color: #000000;
  font-weight: 400;
}

.mini-components-section .mini-components-word-wrapper a {
  font-size: 22px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
}

.mini-components-breakline-lg {
  display: none;
}

@media screen and (max-width: 1200px) {
  .mini-components-section {
    height: 1650px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 1640px;
    background-size: 3040px auto;
  }
}

@media screen and (max-width: 1100px) {
  .mini-components-section {
    height: 1500px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 1500px;
    background-size: 2840px auto;
  }
  .mini-components-section .mini-components-word-wrapper {
    bottom: 100px;
  }
}

@media screen and (max-width: 950px) {
  .mini-components-section .mini-components-word-wrapper a {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .mini-components-section {
    height: 1350px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 1425px;
    background-size: 2640px auto;
  }
}

@media screen and (max-width: 850px) {
  .mini-components-section {
    height: 1370px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 1300px;
    background-size: 2440px auto;
  }
}

@media screen and (max-width: 800px) {
  .mini-components-section {
    height: 1200px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 1100px;
    background-size: 2240px auto;
  }
}

@media screen and (max-width: 700px) {
  .mini-components-section {
    height: 1200px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 1100px;
    background-size: 2240px auto;
  }
}

@media screen and (max-width: 650px) {
  .mini-components-section {
    height: 1200px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 1100px;
    background-size: 2040px auto;
  }
}

@media screen and (max-width: 600px) {
  .mini-components-section {
    height: 1080px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 900px;
    background-size: 1840px auto;
  }
}

@media screen and (max-width: 550px) {
  .mini-components-breakline-lg {
    font-size: 65px;
    display: block;
  }
  .mini-components-section {
    height: 1050px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 800px;
    background-size: 1640px auto;
  }
}

@media screen and (max-width: 500px) {
  .mini-components-section {
    height: 950px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 700px;
    background-size: 1440px auto;
  }
  .mini-components-section .mini-components-word-wrapper {
    bottom: 50px;
  }
}

@media screen and (max-width: 450px) {
  .mini-components-section .mini-components-word-wrapper h1 {
    font-size: 50px;
  }
  .mini-components-section {
    height: 800px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 650px;
    background-size: 1340px auto;
  }
}

@media screen and (max-width: 400px) {
  .mini-components-section {
    height: 750px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 550px;
    background-size: 1140px auto;
  }
}

@media screen and (max-width: 350px) {
  .mini-components-section {
    height: 680px;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 450px;
    background-size: 940px auto;
  }
}

@media screen and (max-width: 300px) {
  .mini-components-section .mini-components-word-wrapper h1 {
    font-size: 15vw;
  }
  .mini-components-section .mini-components-word-wrapper a {
    font-size: 7vw;
  }
  .mini-components-section {
    height: 230vw;
  }
  .mini-components-section
    .mini-components-image-wrapper
    .unit-image-components {
    height: 160vw;
    background-size: 330vw auto;
  }
}

/*-----------------------Finish mini-components--------------------------------------*/

/*-----------------------Start mini-stat--------------------------------------*/
.mini-stat-section {
  background-color: #ededed;
  height: 580px;
  position: relative;
  max-width: 3440px;
}

.mini-stat-section #mini-stat-hr {
  background-color: #ededed;
  border: 1px solid #000000;
  margin: 0;
  opacity: 1;
  width: 1240px;
  margin: 0 auto;
}

.mini-stat-section .stat-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 120px;
}

.mini-stat-section .stat-detail .stat-container {
  height: auto;
  display: flex;
  flex-direction: column;
}

.stat-container p {
  font-size: 54px;
  letter-spacing: -1px;
  line-height: 1;
  color: #000000;
  font-weight: 700;
}

.stat-container .stat-container-light {
  color: #cccccc;
  font-weight: 400;
}

.stat-container ul li {
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
}

.mini-stat-section .mini-stat-container-button-wrapper {
  position: absolute;
  text-align: center;
  bottom: 120px;
  width: 100%;
}

#stat-button-sm {
  display: none;
}

.mini-stat-section .stat-detail-sm {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 120px;
}

@media screen and (max-width: 1300px) {
  .mini-stat-section #mini-stat-hr {
    width: 90vw;
  }
  .mini-stat-section .stat-detail {
    display: none;
  }
  .mini-stat-section .mini-stat-container-button-wrapper {
    position: relative;
    text-align: start;
    bottom: 0;
  }
  #stat-button-lg {
    display: none;
  }
  #stat-button-sm {
    display: block;
  }
  .mini-stat-section .stat-detail-sm {
    display: grid;
    padding: 0 65px;
    margin-top: 80px;
  }
  .mini-buy-button {
    width: auto;
    height: auto;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #232323;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    font-weight: 400;
  }
  .mini-stat-section .mini-stat-container-button-wrapper {
    margin-top: 30px;
  }
  .stat-container p {
    font-size: 40px;
  }
  #text-container-sm {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .mini-stat-section .stat-detail-sm {
    grid-template-columns: 1fr 3fr;
  }
  #text-container-sm {
    align-items: flex-end;
  }
}

@media screen and (max-width: 768.5px) {
  .mini-stat-section {
    height: 480px;
  }
  .stat-container ul li {
    font-size: 16px;
  }
  .stat-container p {
    font-size: 32px;
  }
  .mini-buy-button {
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 24px;
  }
  #text-container-sm {
    align-items: flex-end;
  }
  .mini-stat-section .mini-stat-container-button-wrapper {
    margin-top: 15px;
  }
  .stat-container ul li {
    white-space: nowrap;
  }
}

@media screen and (max-width: 650px) {
  .mini-stat-section .stat-detail-sm {
    padding: 0 20px 0 40px;
  }
}

@media screen and (max-width: 600px) {
  .mini-stat-section {
    height: 800px;
  }
  .mini-stat-section .stat-detail-sm {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
    grid-gap: 50px;
    padding: 0 20px 0 20px;
  }
  .stat-container p {
    text-align: center;
  }
  #stat-button-sm {
    text-align: center;
  }
  #text-container-sm {
    align-items: center;
  }
  .stat-container p {
    font-size: 50px;
  }
  .mini-buy-button {
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 32px;
  }
  .stat-container ul li {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .stat-container ul li {
    white-space: normal;
  }
}

@media screen and (max-width: 400px) {
  .stat-container ul li {
    font-size: 16px;
  }
  .mini-stat-section .stat-detail-sm {
    padding: 0 10px 0 10px;
  }
  .mini-buy-button {
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  .mini-stat-section .stat-detail-sm {
    padding: 0 5px 0 5px;
  }
  .stat-container ul li {
    font-size: 14px;
  }
  .mini-stat-section {
    height: 700px;
  }
  .stat-container p {
    font-size: 45px;
  }
}

.stat-breakline-sm {
  display: none;
}
@media screen and (max-width: 300px) {
  .stat-container p {
    font-size: 14vw;
  }
  .mini-stat-section .stat-detail-sm {
    padding: 0;
    grid-gap: 13vw;
  }
  .stat-container ul li {
    font-size: 4.5vw;
  }
  .mini-stat-section {
    height: 220vw;
  }
  .mini-buy-button {
    padding: 2vw 5vw;
    border-radius: 10vw;
    font-size: 7vw;
  }
  .stat-breakline-sm {
    display: block;
  }
  ol,
  ul {
    padding-left: 1rem;
  }
}

.mini-stat-section .stat-detail-sm .stat-container {
  height: auto;
  display: flex;
  flex-direction: column;
}
/*-----------------------Start mini-stat--------------------------------------*/

/*-------------------------------------------------------------*/

.power-bg-light {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: var(--localnav-background-stuck, rgba(255, 255, 255, 1));
  border-color: transparent;
}

.image-container {
  height: auto;
  width: 100%;
  position: relative;
}

.first-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.second-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.first-row img {
  width: 50%;
  height: 833px;
  object-fit: cover;
}

.second-row img {
  width: 50%;
  height: 833px;
  object-fit: cover;
}

.image-container .image-container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container .image-container-title {
  font-size: 210px;
  line-height: 179px;
  color: #ffffff;
  font-weight: 400;
}

.image-container .image-container-description {
  font-size: 27px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 50px;
}

section {
  padding: 0;
}

.override-nav {
  max-width: 1600px;
  padding: 0 5%;
}

.toggle-switch.switch-vertical {
  position: relative;
  height: 70px;
}

.toggle-switch-container {
  width: 100%;
  max-width: 1600px;
}

.toggle-inside {
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  height: 22px;
  width: 22px;
  margin-left: 6%;
}

.toggle-inside:first-child {
  background-color: #ffffff;
  top: 0;
}

.toggle-inside:last-child {
  background-color: #757272;
  bottom: 0;
}

/*---------------------------------------
      NAVIGATION              
    -----------------------------------------*/
.nav-container {
  min-height: 55px;
  height: 55px;
}

@media (max-width: 768.5px) {
  .nav-container {
    min-height: 35px;
    height: 35px;
    margin-top: 15px;
  }
}

.navbar {
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
  margin: 0 20px 0 20px;
  padding: 0;
  text-align: center;
  position: relative;
}

.navbar-brand img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navbar-brand strong {
  color: var(--p-color);
  font-size: 12px;
  position: relative;
  bottom: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 3rem;
  padding-left: 3rem;
}

.navbar-nav .nav-link {
  color: var(--p-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--menu-font-size);
  /* padding-top: 15px;
        padding-bottom: 15px; */
}

.navbar-nav .nav-item.active .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: var(--dark-color);
}

.nav-link:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}
