.team-description-section {
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: var(--localnav-background-stuck, rgba(222, 222, 222, 0.8));
  border-color: transparent;
  padding: 8vh 0;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-description-section .team-description-word-wrapper {
  width: 100%;
  max-width: calc(1240px + 10%);
}

.team-description-section .team-description-word-wrapper p {
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  font-weight: 300;
  padding: 0 5%;
}

@media screen and (max-width: 768.5px) {
  .team-description-section .team-description-word-wrapper p {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .team-description-section .team-description-word-wrapper p {
    font-size: 19px;
  }
}

/************************** Team-joining Start *************************************/
.team-joining-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.team-joining-section .team-joining-container {
  width: 100%;
  max-width: calc(1240px + 10%);
}

.team-joining-container .join-us {
  padding: 100px 5% 0 5%;
}

.team-joining-container .join-us h1 {
  font-size: 121px;
  letter-spacing: -2px;
  line-height: 1.1;
  color: #c0c0c0;
  font-weight: 400;
}

.team-joining-container .join-us p {
  font-size: 24px;
  line-height: 2.65;
  color: #c0c0c0;
  font-weight: 400;
}

.team-joining-container .coorperation-with-us {
  padding: 100px 5% 0 5%;
}

.team-joining-container .coorperation-with-us h1 {
  font-size: 121px;
  letter-spacing: -2px;
  line-height: 1.1;
  color: #c0c0c0;
  font-weight: 400;
}

.team-joining-container .coorperation-with-us p {
  font-size: 24px;
  line-height: 2.65;
  color: #c0c0c0;
  font-weight: 400;
}

.team-joining-container .black-underline {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: 600;
}

.team-joining-container button {
  border: none;
  background: none;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .team-joining-container .coorperation-with-us h1 {
    font-size: 110px;
  }
  .team-joining-container .join-us h1 {
    font-size: 110px;
  }
}

@media screen and (max-width: 1000px) {
  .team-joining-container .coorperation-with-us h1 {
    font-size: 95px;
  }
  .team-joining-container .join-us h1 {
    font-size: 95px;
  }
}

@media screen and (max-width: 900px) {
  .team-joining-container .coorperation-with-us h1 {
    font-size: 85px;
  }
  .team-joining-container .join-us h1 {
    font-size: 85px;
  }
}

@media screen and (max-width: 800px) {
  .team-joining-container .coorperation-with-us h1 {
    font-size: 80px;
  }
  .team-joining-container .join-us h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .team-joining-container .coorperation-with-us h1 {
    font-size: 15vw;
  }
  .team-joining-container .join-us h1 {
    font-size: 15vw;
  }
  .team-joining-container .join-us p {
    font-size: 5vw;
    line-height: 2;
  }
  .team-joining-container .coorperation-with-us p {
    font-size: 5vw;
    line-height: 2;
  }
  .team-joining-container .join-us {
    padding: 15vw 5% 0 5%;
  }
  .team-joining-container .coorperation-with-us {
    padding: 15vw 5% 0 5%;
  }
  .team-joining-section {
    margin-bottom: 15vw;
  }
}
/************************** Team-joining End *************************************/

/************************** Team-supported-organizations Start *************************************/
.team-supported-organizations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.team-supported-organizations .supported-organizations-container {
  width: 100%;
  max-width: calc(1240px + 10%);
}

.supported-organizations-container .supported-organizations {
  padding: 50px 5% 0 5%;
}

.supported-organizations h1 {
  font-size: 34px;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  margin-bottom: 50px;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 50px; /* 控制 logo 之间的间距 */
}

.logo-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  max-height: 80%;
  height: auto;
  border-radius: 8px; /* 边框圆角（可选） */
  padding: 10px; /* 内边距（可选） */
  background: white; /* 背景颜色（可选） */
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .team-supported-organizations {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 650px) {
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    column-gap: 15px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 500px) {
  .supported-organizations h1 {
    font-size: 7vw;
  }
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 2vw;
    row-gap: 7vw;
  }
  .team-supported-organizations {
    margin-bottom: 20vw;
  }
}

/************************** Team-supported-organizations End *************************************/
