.air-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 1225px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.air-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-air {
  background-image: url(../img/air/prototype-air-background.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 1225px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.air-word-wrapper {
  position: relative;
  width: 100%;
  max-width: calc(1236px + 5%);
  height: min-content;
  margin-bottom: 370px;
  z-index: 2;
  padding-right: 2.5%;
}

.air-word-wrapper .air-word-title {
  font-size: 45px;
  line-height: 1.1;
  color: #cecece;
  font-weight: 600;
  text-align: right;
}

@media (max-width: 1340px) {
  .unit-air {
    background-size: 3250px auto;
  }
  .air-word-wrapper {
    max-width: 1170px;
    padding-right: 0%;
  }
}

@media (max-width: 1240px) {
  .unit-air {
    background-size: 2750px auto;
  }
  .air-word-wrapper {
    max-width: 990px;
  }
}

@media (max-width: 1140px) {
  .air-section {
    height: 950px;
  }
  .unit-air {
    background-size: 2450px auto;
    height: 950px;
  }
  .air-word-wrapper {
    max-width: 870px;
    margin-bottom: 250px;
  }
}

@media (max-width: 1023.5px) {
  .air-section {
    height: 950px;
  }
  .unit-air {
    background-size: 2200px auto;
    height: 950px;
  }
  .air-word-wrapper {
    max-width: 780px;
    margin-bottom: 250px;
  }
}

@media (max-width: 900px) {
  .air-section {
    height: 800px;
  }
  .unit-air {
    background-size: 1880px auto;
    height: 800px;
  }
  .air-word-wrapper {
    max-width: 670px;
    margin-bottom: 210px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 36px;
  }
}

@media (max-width: 800px) {
  .air-section {
    height: 800px;
  }
  .unit-air {
    background-size: 1800px auto;
    height: 800px;
  }
  .air-word-wrapper {
    max-width: 630px;
    margin-bottom: 210px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 36px;
  }
}

@media (max-width: 750px) {
  .air-section {
    height: 700px;
  }
  .unit-air {
    background-size: 1750px auto;
    height: 700px;
  }
  .air-word-wrapper {
    max-width: 630px;
    margin-bottom: 200px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .air-section {
    height: 650px;
  }
  .unit-air {
    background-size: 1640px auto;
    height: 650px;
  }
  .air-word-wrapper {
    max-width: 580px;
    margin-bottom: 180px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 28px;
  }
}

@media (max-width: 650px) {
  .air-section {
    height: 600px;
  }
  .unit-air {
    background-size: 1530px auto;
    height: 600px;
  }
  .air-word-wrapper {
    max-width: 540px;
    margin-bottom: 150px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 28px;
  }
}

@media (max-width: 567.5px) {
  .air-section {
    height: 700px;
  }

  .air-image-wrapper {
    transform: translateX(-40px);
  }
  .unit-air {
    background-image: url(../img/air/prototype-air-background-sm.png);
    background-size: 620px auto;
    height: 700px;
  }
  .air-word-wrapper {
    max-width: 490px;
    margin-bottom: 290px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 24px;
  }
}

@media (max-width: 557px) {
  .air-section {
    height: 700px;
    overflow-x: hidden;
  }

  .air-image-wrapper {
    transform: translateX(5px);
    width: 110%;
  }
  .unit-air {
    background-size: 560px auto;
    height: 700px;
    transform: translateX(-60px);
  }
  .air-word-wrapper {
    max-width: 450px;
    margin-bottom: 290px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .air-section {
    height: 600px;
    overflow-x: hidden;
  }
  .unit-air {
    background-size: 500px auto;
    height: 600px;
    transform: translateX(-60px);
  }
  .air-word-wrapper {
    max-width: 390px;
    margin-bottom: 230px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 24px;
  }
}

@media (max-width: 450px) {
  .air-section {
    height: 550px;
    overflow-x: hidden;
  }
  .unit-air {
    background-size: 450px auto;
    height: 550px;
    transform: translateX(-50px);
  }
  .air-word-wrapper {
    max-width: 360px;
    margin-bottom: 205px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .air-section {
    height: 500px;
    overflow-x: hidden;
  }
  .unit-air {
    background-size: 415px auto;
    height: 500px;
    transform: translateX(-50px);
  }
  .air-word-wrapper {
    max-width: 330px;
    margin-bottom: 180px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .air-section {
    height: 450px;
    overflow-x: hidden;
  }
  .unit-air {
    background-size: 365px auto;
    height: 450px;
    transform: translateX(-40px);
  }
  .air-word-wrapper {
    max-width: 300px;
    margin-bottom: 160px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 22px;
    line-height: 1;
  }
}

@media (max-width: 320px) {
  .air-section {
    height: 370px;
    overflow-x: hidden;
  }
  .unit-air {
    background-size: 310px auto;
    height: 370px;
    transform: translateX(-40px);
  }
  .air-word-wrapper {
    max-width: 250px;
    margin-bottom: 130px;
  }
  .air-word-wrapper .air-word-title {
    font-size: 19px;
    line-height: 1;
  }
}

/**************************************/

.air-stat-section {
  padding: 100px 1%;
  position: relative;
  max-width: calc(2% + 3440px);
  margin: 0 auto;
  background-color: #bbbbbb;
  display: flex;
  flex-direction: column;
  row-gap: 43px;
}

.stat-first-row {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
}

.stat-first-row .items:nth-child(1) {
  margin-right: 25px;
}

.stat-first-row .items:nth-child(3) {
  margin-right: 25px;
}

.stat-small {
  display: flex;
  flex-direction: row;
  flex-basis: calc(50% - 12.5px);
}

.stat-second-row {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  column-gap: 3.6%;
  margin: 0 auto;
}

.stat-item {
  height: 340px;
  border-radius: 50px;
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 12.5px);
  margin-bottom: 25px;
}

.stat-small-item {
  height: 340px;
  border-radius: 50px;
  background-color: #272727;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stat-small-item:nth-child(1) {
  margin-right: 12.5px;
}

.stat-small-item h1 {
  font-size: 133px;
  line-height: 0.62;
  color: #fd4830;
  font-weight: 250;
  font-family: "Outfit";
  height: 40%;
}

.stat-small-item .f-small {
  font-size: 32px;
  line-height: 1.1;
  color: #fd4830;
  font-weight: 300;
}

.stat-small-item .small-item-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 25px;
}

.small-item-description img {
  height: 60px;
}

.stat-small-item .small-item-description-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 25px;
}

.small-item-description-2 .description-word-wrapper {
  font-size: 32px;
  line-height: 1.1;
  color: #fd4830;
  font-weight: 300;
  font-family: "Outfit";
  text-align: center;
  margin: 0;
}

.small-item-description .description-word-wrapper {
  font-size: 32px;
  line-height: 1.1;
  color: #fd4830;
  font-weight: 300;
  font-family: "Outfit";
  text-align: center;
  margin: 0;
}

.stat-item h1 {
  font-size: 248px;
  line-height: 0.85;
  color: #fd4830;
  font-weight: 250;
  font-family: "Outfit";
  padding-left: 10%;
}

.stat-item .f-small {
  font-size: 32px;
  line-height: 1.1;
  color: #fd4830;
  font-weight: 300;
}

.item-description {
  height: min-content;
  margin-left: auto;
  margin-right: 10%;
  text-align: right;
}

.item-description img {
  height: 69px;
}

.item-description .description-word-wrapper {
  position: relative;
  top: 32px;
  font-size: 32px;
  line-height: 1.1;
  color: #fd4830;
  font-weight: 300;
  text-align: right;
}

@media (max-width: 1439.5px) {
  .stat-small-item h1 {
    font-size: 125px;
  }
}

@media (max-width: 1200px) {
  .stat-small-item h1 {
    font-size: 115px;
  }
  .small-item-description-2 .description-word-wrapper {
    font-size: 26px;
  }
  .stat-item h1 {
    font-size: 220px;
    padding-left: 5%;
  }
  .item-description .description-word-wrapper {
    position: relative;
    top: 32px;
    font-size: 26px;
  }
}

@media (max-width: 1100px) {
  .stat-small-item h1 {
    font-size: 100px;
  }
}

@media (max-width: 1023.5px) {
  .stat-first-row .items:nth-child(1) {
    margin-right: auto;
    order: 1;
  }
  .stat-first-row .items:nth-child(2) {
    width: 80%;
    margin-right: auto;
    order: 3;
    margin-bottom: 25px;
  }
  .stat-first-row .items:nth-child(3) {
    margin-right: auto;
    order: 2;
  }
  .stat-first-row .items:nth-child(4) {
    margin-right: auto;
    order: 4;
  }
  .stat-small-item:nth-child(1) {
    margin-right: 25px;
  }
  .stat-first-row {
    flex-direction: column;
  }
  .stat-item {
    width: 80%;
    margin-left: auto;
    flex-basis: 250px;
  }
  .stat-small-item {
    width: 50%;
    height: 250px;
  }
  .stat-small {
    margin-left: auto;
  }
  .stat-item h1 {
    padding-left: 10%;
    width: 50%;
  }
  .item-description {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 900px) {
  .stat-item {
    width: 90%;
  }
  .stat-first-row .items:nth-child(2) {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .stat-item h1 {
    padding-left: 5%;
  }
  .item-description {
    margin-right: 10%;
  }
}

@media (max-width: 650px) {
  .stat-item {
    width: 95%;
  }
  .stat-first-row .items:nth-child(2) {
    width: 95%;
  }
  .stat-item h1 {
    padding-left: 10%;
  }
}

@media (max-width: 567.5px) {
  .air-stat-section {
    padding: 70px 1%;
  }
  .stat-item {
    margin-bottom: 15px;
  }
  .stat-first-row .items:nth-child(2) {
    margin-bottom: 15px;
  }
  .stat-item h1 {
    font-size: 171px;
    padding-left: 10%;
  }
  .item-description .description-word-wrapper {
    font-size: 22px;
  }
  .item-description img {
    height: 60px;
  }
  .stat-small-item h1 {
    font-size: 92px;
  }
  .stat-item .f-small {
    font-size: 24px;
  }
  .item-description .description-word-wrapper {
    top: 20px;
  }
  .small-item-description .description-word-wrapper {
    font-size: 22px;
  }
  .small-item-description-2 .description-word-wrapper {
    font-size: 22px;
  }
  .stat-small-item .f-small {
    font-size: 24px;
  }
  .stat-small-item .small-item-description-2 {
    column-gap: 10px;
  }
  .stat-small-item .small-item-description {
    column-gap: 10px;
  }
}

@media (max-width: 500px) {
  .stat-item h1 {
    padding-left: 5%;
  }
  .stat-small-item h1 {
    font-size: 80px;
  }
  .stat-item {
    flex-basis: 200px;
    margin-bottom: 10px;
    border-radius: 25px;
  }
  .stat-first-row .items:nth-child(2) {
    margin-bottom: 10px;
  }
  .stat-small-item:nth-child(1) {
    margin-right: 10px;
  }
  .stat-small-item {
    border-radius: 25px;
  }
  .air-stat-section {
    padding: 50px 1%;
  }
}

@media (max-width: 450px) {
  .stat-item h1 {
    font-size: 151px;
  }
  .item-description .description-word-wrapper {
    top: 14px;
  }
  .item-description {
    margin-right: 5%;
  }
  .stat-small-item h1 {
    font-size: 70px;
  }
  .stat-small-item {
    height: 200px;
  }
  .small-item-description-2 img {
    width: 60px;
  }
  .small-item-description img {
    width: 60px;
    height: 39px;
  }
  .stat-small-item .small-item-description {
    column-gap: 0px;
  }
}

@media (max-width: 400px) {
  .stat-item h1 {
    font-size: 131px;
  }
  .stat-item .f-small {
    font-size: 22px;
  }
  .item-description .description-word-wrapper {
    top: 13px;
  }
  .item-description img {
    height: 45px;
  }
  .stat-item {
    flex-basis: 160px;
  }
  .stat-small-item .small-item-description {
    flex-direction: column;
    column-gap: 10px;
  }
  .stat-small-item .small-item-description-2 {
    flex-direction: column;
    column-gap: 10px;
  }
  .stat-sma-item {
    padding-top: 10px;
  }
  .stat-small-item h1 {
    font-size: 60px;
    height: 25%;
    padding-top: 10px;
  }
  .air-stat-section {
    padding: 25px 1%;
  }
  .stat-small-item .small-item-description {
    padding-top: 10px;
    height: 50%;
  }
  .stat-small-item .small-item-description-2 {
    padding-top: 10px;
    height: 50%;
  }
  .stat-item {
    flex-basis: 150px;
  }
}

@media (max-width: 350px) {
  .stat-item h1 {
    font-size: 110px;
  }
  .item-description .description-word-wrapper {
    font-size: 19px;
  }
  .small-item-description-2 .description-word-wrapper {
    font-size: 19px;
  }
  .stat-small-item .f-small {
    font-size: 19px;
  }
  .stat-small-item .small-item-description {
    width: 80%;
  }
  .stat-small-item h1 {
    font-size: 50px;
  }
  .item-description img {
    height: 40px;
  }
  .item-description .description-word-wrapper {
    top: 10px;
  }
  .stat-small-item {
    height: 180px;
  }
}

@media (max-width: 270px) {
  .stat-small-item h1 {
    font-size: 40px;
  }
  .stat-item h1 {
    font-size: 90px;
  }
  .stat-item {
    flex-basis: 130px;
  }
  .item-description img {
    height: 30px;
    position: relative;
    top: -5px;
  }
  .item-description .description-word-wrapper {
    top: 6px;
  }
  .stat-small-item {
    height: 160px;
    padding-bottom: 10px;
  }
}
/**************************************/

.air-control-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 1800px;
  background-color: #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.air-control-section .air-control-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-air-control {
  background-image: url(../img/air/air-remote-background.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 1287px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.air-control-word-wrapper {
  padding-right: 2%;
  padding-left: 2%;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: calc(1440px + 4%);
  height: min-content;
  margin-bottom: 160px;
  z-index: 2;
}

.air-control-word-wrapper .air-control-title {
  font-size: 210px;
  line-height: 1.17;
  color: #000000;
  font-weight: 400;
}

.air-control-word-wrapper .air-control-description {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
}

@media (max-width: 1500px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 200px;
  }
  .air-control-word-wrapper .air-control-description {
    font-size: 25px;
  }
}

@media (max-width: 1440px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 185px;
  }
}

@media (max-width: 1340px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 170px;
  }
}

@media (max-width: 1240px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 155px;
  }
  .unit-air-control {
    height: 900px;
    background-size: 2700px auto;
  }
  .air-control-section {
    height: 1500px;
  }
}

@media (max-width: 1140px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 140px;
  }
}

@media (max-width: 1024.5px) {
  .unit-air-control {
    height: 750px;
    background-size: 2300px auto;
  }
  .air-control-word-wrapper .air-control-title {
    font-size: 130px;
  }
  .air-control-section {
    height: 1200px;
  }
  .air-control-word-wrapper {
    margin-bottom: 80px;
  }
}

@media (max-width: 950px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 120px;
  }
}

@media (max-width: 900px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 110px;
  }
  .unit-air-control {
    height: 600px;
    background-size: 2000px auto;
  }
  .air-control-section {
    height: 1100px;
  }
}

@media (max-width: 800px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 100px;
  }
  .unit-air-control {
    height: 550px;
    background-size: 1800px auto;
  }
  .air-control-section {
    height: 1025px;
  }
}

@media (max-width: 800px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 100px;
  }
  .unit-air-control {
    height: 550px;
    background-size: 1800px auto;
  }
  .air-control-section {
    height: 1025px;
  }
}

@media (max-width: 750px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 90px;
  }
  .air-control-breakline {
    display: none;
  }
}

@media (max-width: 650px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 80px;
  }
  .unit-air-control {
    height: 425px;
    background-size: 1400px auto;
  }
  .air-control-section {
    height: 900px;
  }
}

@media (max-width: 600px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 70px;
  }
  .air-control-word-wrapper .air-control-description {
    font-size: 24px;
  }
}

@media (max-width: 567.5px) {
  .air-control-section {
    height: 800px;
  }
  .air-control-word-wrapper .air-control-description {
    font-size: 22px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .air-control-word-wrapper .air-control-title {
    font-size: 100px;
  }
}

.air-control-breakline-sm {
  display: inline;
}

@media (max-width: 550px) {
  .air-control-breakline-sm {
    display: none;
  }
}

@media (max-width: 500px) {
  .unit-air-control {
    height: 360px;
    background-size: 1200px auto;
  }
  .air-control-section {
    height: 700px;
  }
  .air-control-word-wrapper {
    margin-bottom: 60px;
  }
  .air-control-word-wrapper .air-control-title {
    font-size: 90px;
  }
}

@media (max-width: 450px) {
  .unit-air-control {
    height: 400px;
    background-size: 1000px auto;
  }
  .air-control-section {
    height: 700px;
  }
  .air-control-word-wrapper {
    margin-bottom: 60px;
  }
  .air-control-word-wrapper .air-control-title {
    font-size: 80px;
  }
}

@media (max-width: 400px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 70px;
  }
}

@media (max-width: 350px) {
  .unit-air-control {
    height: 330px;
    background-size: 800px auto;
  }
  .air-control-word-wrapper .air-control-title {
    font-size: 60px;
  }
  .air-control-section {
    height: 640px;
  }
  .air-control-word-wrapper {
    margin-bottom: 40px;
  }
}

@media (max-width: 300px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 55px;
  }
}

@media (max-width: 279px) {
  .air-control-word-wrapper .air-control-title {
    font-size: 50px;
  }
  .air-control-word-wrapper .air-control-description {
    font-size: 19px;
  }
  .air-control-section {
    height: 600px;
  }
}

/**************************************/

.air-smart-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  background-color: #bbbbbb;
  display: flex;
  flex-direction: column;
}

.air-smart-section .air-smart-image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.air-smart-image-wrapper img {
  width: 50%;
  height: 1330px;
  object-fit: cover;
}

.air-smart-image-wrapper #air-smart-image-1 {
  object-position: right center;
}

.air-smart-image-wrapper #air-smart-image-2 {
  object-position: left center;
}

.air-smart-section .air-smart-word-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1440px;
}

.air-smart-word-wrapper .air-smart-title {
  font-size: 200px;
  line-height: 0.85;
  font-weight: 400;
  color: #ffffff;
}

.air-smart-word-wrapper .air-smart-description {
  font-size: 27px;
  line-height: 1.25;
  color: #ffffff;
  font-weight: 300;
  padding-left: 1%;
}

@media (max-width: 1445px) {
  .air-smart-section .air-smart-word-wrapper {
    padding-left: 2%;
  }
}

@media (max-width: 1440px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 190px;
  }
}

@media (max-width: 1400px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 180px;
  }
}

@media (max-width: 1350px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 170px;
  }
}

@media (max-width: 1250px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 160px;
  }
}

@media (max-width: 1200px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 150px;
  }
  .air-smart-image-wrapper img {
    height: 1130px;
  }
}

@media (max-width: 1100px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 140px;
  }
}

@media (max-width: 1024px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 130px;
  }
  .air-smart-image-wrapper img {
    height: 1030px;
  }
}

@media (max-width: 950px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 120px;
  }
}

@media (max-width: 900px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 110px;
  }
}

@media (max-width: 800px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 100px;
  }
}

@media (max-width: 750px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 90px;
  }
  .air-smart-image-wrapper img {
    height: 930px;
  }
}

@media (max-width: 700px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 80px;
  }

  .air-smart-image-wrapper img {
    height: 730px;
  }

  .air-smart-word-wrapper .air-smart-description {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 75px;
  }
  .air-smart-para-breakline {
    display: none;
  }
}

.air-smart-breakline {
  display: none;
}

@media (max-width: 567.5px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 105px;
  }
  .air-smart-breakline {
    display: inline;
  }
  .air-smart-section .air-smart-image-wrapper {
    width: 100%;
    flex-direction: column-reverse;
  }
  .air-smart-image-wrapper img {
    width: 100%;
    height: 520px;
  }
}

@media (max-width: 500px) {
  .air-smart-image-wrapper img {
    height: 450px;
  }
}

@media (max-width: 450px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 100px;
  }
  .air-smart-image-wrapper img {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 90px;
  }
  .air-smart-breakline {
    display: none;
  }
  .air-smart-word-wrapper .air-smart-description {
    padding-right: 4%;
  }
  .air-smart-word-wrapper .air-smart-description {
    font-size: 22px;
  }
}

@media (max-width: 350px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 80px;
  }
  .air-smart-breakline-2 {
    display: none;
  }
}

@media (max-width: 300px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 70px;
  }
  .air-smart-word-wrapper .air-smart-description {
    font-size: 20px;
  }
}

@media (max-width: 270px) {
  .air-smart-word-wrapper .air-smart-title {
    font-size: 60px;
  }
}
/**************************************/

.air-omni-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 1846px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.air-omni-section .air-omni-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.air-omni-image-wrapper .unit-air-omni {
  background-image: url(../img/air/air-omni-background.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 2174px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.air-omni-word-wrapper {
  text-align: right;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: min-content;
  margin-top: 130px;
  z-index: 2;
}

.air-omni-word-wrapper .air-omni-title {
  font-size: 210px;
  line-height: 0.85;
  color: #000000;
  font-weight: 400;
}

.air-omni-word-wrapper .air-omni-description {
  margin-top: 30px;
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
}

@media (max-width: 1550px) {
  .air-omni-word-wrapper {
    padding-right: 2%;
  }
}

@media (max-width: 1400px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 2074px;
    background-size: 3175px auto;
  }
  .air-omni-section {
    height: 1746px;
  }
}

@media (max-width: 1300px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1974px;
    background-size: 2975px auto;
  }
  .air-omni-section {
    height: 1646px;
  }
}

@media (max-width: 1200px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1874px;
    background-size: 2775px auto;
  }
  .air-omni-section {
    height: 1546px;
  }
  .air-omni-word-wrapper .air-omni-description {
    width: 75%;
    margin-left: auto;
  }
  .air-omni-word-wrapper {
    margin-top: 65px;
  }
}

@media (max-width: 1100px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1874px;
    background-size: 2575px auto;
  }
  .air-omni-section {
    height: 1446px;
  }
}

@media (max-width: 1023.5px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1774px;
    background-size: 2275px auto;
  }
  .air-omni-section {
    height: 1400px;
  }
}

@media (max-width: 970px) {
  .air-omni-breakline {
    display: none;
  }
}

@media (max-width: 950px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1724px;
    background-size: 2075px auto;
  }
  .air-omni-section {
    height: 1300px;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 200px;
  }
}

@media (max-width: 850px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1674px;
    background-size: 1875px auto;
  }
  .air-omni-section {
    height: 1250px;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 190px;
  }
}

@media (max-width: 750px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1624px;
    background-size: 1675px auto;
  }
  .air-omni-section {
    height: 1200px;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 180px;
  }
}

@media (max-width: 700px) {
  .air-omni-word-wrapper .air-omni-description {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1534px;
    background-size: 1474px auto;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 170px;
  }
  .air-omni-section {
    height: 1150px;
  }
}

@media (max-width: 567.5px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1234px;
    background-size: 1274px auto;
  }
  .air-omni-section {
    height: 950px;
  }
  .air-omni-word-wrapper {
    padding-right: 10%;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 105px;
  }
  .air-omni-word-wrapper .air-omni-description {
    font-size: 22px;
  }
  .air-omni-word-wrapper .air-omni-description {
    width: 83%;
  }
}

@media (max-width: 500px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1174px;
    background-size: 1074px auto;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 95px;
  }
  .air-omni-section {
    height: 850px;
  }
}

@media (max-width: 450px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 1104px;
    background-size: 974px auto;
  }
  .air-omni-section {
    height: 800px;
  }
  .air-omni-word-wrapper {
    padding-right: 5%;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 85px;
  }
}

@media (max-width: 400px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 960px;
    background-size: 900px auto;
  }
  .air-omni-section {
    height: 690px;
  }
  .air-omni-word-wrapper {
    margin-top: 30px;
    padding-right: 5%;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 75px;
  }
  .air-omni-word-wrapper .air-omni-description {
    font-size: 21px;
  }
}

@media (max-width: 350px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 950px;
    background-size: 740px auto;
  }
  .air-omni-section {
    height: 680px;
  }
}

@media (max-width: 300px) {
  .air-omni-image-wrapper .unit-air-omni {
    height: 900px;
    background-size: 674px auto;
  }
  .air-omni-section {
    height: 640px;
  }
  .air-omni-word-wrapper .air-omni-title {
    font-size: 65px;
  }
  .air-omni-word-wrapper .air-omni-description {
    font-size: 19px;
  }
  .air-omni-word-wrapper {
    padding-right: 7%;
  }
}

/**************************************/

.air-radius-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 2300px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.air-radius-section .air-radius-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.air-radius-image-wrapper .unit-air-radius {
  background-image: url(../img/air/air-radius-background.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 1800px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.air-radius-word-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: min-content;
  margin-bottom: 100px;
  z-index: 2;
}

.air-radius-word-wrapper .air-radius-subtitle {
  font-size: 210px;
  line-height: 0.85;
  color: #78c9fd;
  font-weight: 400;
}

.air-radius-word-wrapper .air-radius-subtitle-sm {
  font-size: 210px;
  line-height: 0.85;
  color: #78c9fd;
  font-weight: 400;
  display: none;
}

.air-radius-word-wrapper .air-radius-title {
  font-size: 210px;
  line-height: 0.85;
  color: #000000;
  font-weight: 400;
  margin-top: 50px;
}

.air-radius-word-wrapper .air-radius-description {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
  margin-top: 50px;
}

@media (max-width: 1600px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1500px;
    background-size: 3240px auto;
  }
  .air-radius-section {
    height: 2100px;
  }
}

@media (max-width: 1500px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1500px;
    background-size: 3040px auto;
  }
  .air-radius-section {
    height: 2100px;
  }
}

@media (max-width: 1400px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1500px;
    background-size: 2940px auto;
  }
  .air-radius-section {
    height: 2025px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 200px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 200px;
  }
}

@media (max-width: 1350px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1400px;
    background-size: 2840px auto;
  }
  .air-radius-section {
    height: 1950px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 190px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 190px;
  }
}

@media (max-width: 1350px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1400px;
    background-size: 2840px auto;
  }
  .air-radius-section {
    height: 1950px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 190px;
  }
}

@media (max-width: 1300px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1250px;
    background-size: 2740px auto;
  }
  .air-radius-section {
    height: 1850px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 200px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 180px;
  }
}

@media (max-width: 1250px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1250px;
    background-size: 2640px auto;
  }
  .air-radius-section {
    height: 1850px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 180px;
  }
}

@media (max-width: 1200px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1200px;
    background-size: 2540px auto;
  }
  .air-radius-section {
    height: 1825px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 190px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 170px;
  }
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 13%;
    padding-right: 13%;
  }
}

@media (max-width: 1150px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1100px;
    background-size: 2340px auto;
  }
  .air-radius-section {
    height: 1725px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 180px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 160px;
  }
}

@media (max-width: 1100px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1050px;
    background-size: 2240px auto;
  }
  .air-radius-section {
    height: 1700px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 155px;
  }
}

@media (max-width: 1024px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1000px;
    background-size: 2140px auto;
  }
  .air-radius-section {
    height: 1600px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 170px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 150px;
  }
}

@media (max-width: 1000px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 950px;
    background-size: 2040px auto;
  }
  .air-radius-section {
    height: 1550px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 170px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 140px;
  }
}

@media (max-width: 950px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 900px;
    background-size: 1940px auto;
  }
  .air-radius-section {
    height: 1500px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 160px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 130px;
  }
}

@media (max-width: 900px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 850px;
    background-size: 1840px auto;
  }
  .air-radius-section {
    height: 1450px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 150px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 120px;
  }
}

@media (max-width: 850px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 800px;
    background-size: 1740px auto;
  }
  .air-radius-section {
    height: 1400px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 120px;
  }
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 800px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 800px;
    background-size: 1640px auto;
  }
  .air-radius-section {
    height: 1350px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 140px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 110px;
  }
}

@media (max-width: 750px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 750px;
    background-size: 1540px auto;
  }
  .air-radius-section {
    height: 1250px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 130px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 100px;
  }
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 4%;
    padding-right: 4%;
  }
  .air-radius-word-wrapper .air-radius-description {
    margin-top: 25px;
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 650px;
    background-size: 1440px auto;
  }
  .air-radius-section {
    height: 1100px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 120px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 90px;
  }
  .air-radius-word-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 650px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 600px;
    background-size: 1340px auto;
  }
  .air-radius-section {
    height: 1050px;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 110px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 80px;
  }
}

@media (max-width: 600px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 600px;
    background-size: 1240px auto;
  }
  .air-radius-section {
    height: 1050px;
  }
  .radius-breakline {
    display: none;
  }
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.air-radius-title-breakline {
  display: none;
}

@media (max-width: 567.5px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1600px;
    background-size: 1140px auto;
  }
  .air-radius-section {
    height: 1100px;
  }
  .radius-breakline {
    display: none;
  }
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 0%;
    padding-right: 0%;
    font-size: 22px;
  }
  .air-radius-section {
    align-items: flex-start;
  }
  .air-radius-word-wrapper .air-radius-subtitle {
    font-size: 120px;
    display: none;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    font-size: 105px;
    display: block;
    margin-top: 75px;
  }
  .air-radius-title-breakline {
    display: inline;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 105px;
    margin-top: 75px;
  }
}

@media (max-width: 550px) {
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 10%;
    padding-right: 10%;
  }
  .air-radius-image-wrapper .unit-air-radius {
    height: 1550px;
    background-size: 1040px auto;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1500px;
    background-size: 940px auto;
  }
  .air-radius-section {
    height: 1050px;
  }
}

@media (max-width: 450px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1450px;
    background-size: 840px auto;
  }
  .air-radius-section {
    height: 1000px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 95px;
    margin-top: 75px;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    font-size: 105px;
  }
}

@media (max-width: 450px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1350px;
    background-size: 840px auto;
  }
  .air-radius-section {
    height: 900px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 85px;
    margin-top: 75px;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    font-size: 85px;
  }
  .radius-breakline-sm {
    display: none;
  }
}

@media (max-width: 400px) {
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 2%;
    padding-right: 2%;
  }
  .air-radius-image-wrapper .unit-air-radius {
    height: 1275px;
    background-size: 740px auto;
  }
  .air-radius-section {
    height: 850px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 85px;
    margin-top: 50px;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    font-size: 85px;
  }
}

@media (max-width: 341px) {
  .air-radius-word-wrapper .air-radius-description {
    padding-left: 7%;
    padding-right: 7%;
  }
  .air-radius-word-wrapper .air-radius-description {
    font-size: 21px;
  }
  .air-radius-image-wrapper .unit-air-radius {
    height: 1225px;
    background-size: 640px auto;
  }
  .air-radius-section {
    height: 825px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 75px;
    margin-top: 50px;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    font-size: 75px;
  }
}

@media (max-width: 300px) {
  .air-radius-image-wrapper .unit-air-radius {
    height: 1175px;
    background-size: 600px auto;
  }
  .air-radius-section {
    height: 775px;
  }
  .air-radius-word-wrapper .air-radius-title {
    font-size: 70px;
    margin-top: 50px;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    font-size: 70px;
  }
}

@media (max-width: 270px) {
  .air-radius-word-wrapper .air-radius-title {
    font-size: 60px;
    margin-top: 50px;
  }
  .air-radius-word-wrapper .air-radius-description {
    font-size: 19px;
  }
  .air-radius-word-wrapper .air-radius-subtitle-sm {
    font-size: 60px;
  }
  .air-radius-image-wrapper .unit-air-radius {
    height: 1075px;
    background-size: 550px auto;
  }
  .air-radius-section {
    height: 700px;
  }
}

/**************************************/
.air-app-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.air-app-word-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: min-content;
  margin-bottom: 50px;
  z-index: 2;
}

.air-app-word-wrapper .air-app-title {
  font-size: 210px;
  line-height: 0.85;
  color: #000000;
  font-weight: 400;
}

.air-app-word-wrapper .air-app-description {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
}

@media (max-width: 1439.5px) {
  .air-app-description-breakline-2 {
    display: none;
  }
  .air-app-word-wrapper .air-app-description {
    padding-left: 5%;
    padding-right: 5%;
  }
  .air-app-word-wrapper .air-app-title {
    font-size: 150px;
  }
}

@media (max-width: 1023.5px){
  .air-app-word-wrapper {
    margin-bottom: 25px;
}
}

@media (max-width: 920px) {
  .air-app-word-wrapper .air-app-description {
    font-size: 24px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .air-app-section {
    padding-top: 50px;
  }
}

@media (max-width: 850px) {
  .air-app-word-wrapper .air-app-title {
    font-size: 130px;
  }
}

@media (max-width: 800px) {
  .air-app-word-wrapper .air-app-description {
    font-size: 21px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .air-app-para-breakline {
    display: none;
  }
}

@media (max-width: 700px) {
  .air-app-word-wrapper .air-app-title {
    font-size: 110px;
  }
  .air-app-description-breakline-1 {
    display: none;
  }
  .air-app-word-wrapper .air-app-description {
    font-size: 21px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.air-app-title-breakline {
  display: none;
}

@media (max-width: 600px) {
  .air-app-word-wrapper .air-app-title {
    font-size: 100px;
  }
}

@media (max-width: 567.5px) {
  .air-app-title-breakline {
    display: inline;
  }
}

@media (max-width: 500px) {
  .air-app-word-wrapper .air-app-title {
    font-size: 90px;
  }
}

@media (max-width: 400px) {
  .air-app-word-wrapper .air-app-title {
    font-size: 80px;
  }
  .air-app-section {
    padding-top: 25px;
}
}

@media (max-width: 375px){
  .air-app-word-wrapper {
    margin-bottom: 15px;
}
}

@media (max-width: 300px) {
  .air-app-word-wrapper .air-app-title {
    font-size: 70px;
  }
  .air-app-word-wrapper {
    margin-bottom: 0px;
}
}

@media (max-width: 280px) {
  .air-app-word-wrapper .air-app-title {
    font-size: 60px;
  }
  .air-app-word-wrapper .air-app-description {
    font-size: 19px;
    padding-left: 3%;
    padding-right: 3%;
}
}
/**************************************/

.unit-air-app-showcase-1 {
  background-image: url(../img/air/air-hand-app-showcase-1.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 934px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.unit-air-app-showcase-2 {
  background-image: url(../img/air/air-hand-app-showcase-2.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 934px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.unit-air-app-showcase-3 {
  background-image: url(../img/air/air-hand-app-showcase-3.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 934px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

@media (max-width: 1439.5px) {
  .unit-air-app-showcase-1 {
    height: 724px;
    background-size: 2500px auto;
  }
  .unit-air-app-showcase-2 {
    height: 724px;
    background-size: 2500px auto;
  }
  .unit-air-app-showcase-3 {
    height: 724px;
    background-size: 2500px auto;
  }
}

@media (max-width: 1023.5px) {
  .unit-air-app-showcase-1 {
    height: 600px;
    background-size: 1850px auto;
  }
  .unit-air-app-showcase-2 {
    height: 600px;
    background-size: 1850px auto;
  }
  .unit-air-app-showcase-3 {
    height: 600px;
    background-size: 1850px auto;
  }
}

@media (max-width: 768px) {
  .unit-air-app-showcase-1 {
    height: 484px;
    background-size: 1550px auto;
  }
  .unit-air-app-showcase-2 {
    height: 484px;
    background-size: 1550px auto;
  }
  .unit-air-app-showcase-3 {
    height: 484px;
    background-size: 1550px auto;
  }
}

@media (max-width: 650px) {
  .unit-air-app-showcase-1 {
    height: 400px;
    background-size: 1350px auto;
  }
  .unit-air-app-showcase-2 {
    height: 400px;
    background-size: 1350px auto;
  }
  .unit-air-app-showcase-3 {
    height: 400px;
    background-size: 1350px auto;
  }
}

@media (max-width: 567.5px) {
  .unit-air-app-showcase-1 {
    height: 350px;
    background-size: 1100px auto;
  }
  .unit-air-app-showcase-2 {
    height: 350px;
    background-size: 1100px auto;
  }
  .unit-air-app-showcase-3 {
    height: 350px;
    background-size: 1100px auto;
  }
}

@media (max-width: 435px) {
  .unit-air-app-showcase-1 {
    height: 260px;
    background-size: 900px auto;
  }
  .unit-air-app-showcase-2 {
    height: 260px;
    background-size: 900px auto;
  }
  .unit-air-app-showcase-3 {
    height: 260px;
    background-size: 900px auto;
  }
}

@media (max-width: 375px) {
  .unit-air-app-showcase-1 {
    height: 235px;
    background-size: 760px auto;
  }
  .unit-air-app-showcase-2 {
    height: 235px;
    background-size: 760px auto;
  }
  .unit-air-app-showcase-3 {
    height: 235px;
    background-size: 760px auto;
  }
}

@media (max-width: 320px) {
  .unit-air-app-showcase-1 {
    height: 225px;
    background-size: 650px auto;
  }
  .unit-air-app-showcase-2 {
    height: 225px;
    background-size: 650px auto;
  }
  .unit-air-app-showcase-3 {
    height: 225px;
    background-size: 650px auto;
  }
}

/**************************************/

.air-journey-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 1816px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.air-journey-section .air-journey-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.air-journey-image-wrapper .unit-air-journey {
  background-image: url(../img/air/air-journey-background.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 1816px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.air-journey-word-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: min-content;
  margin-bottom: 100px;
  z-index: 2;
}

.air-journey-word-wrapper .air-journey-title {
  font-size: 210px;
  line-height: 0.85;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
}
