body {
  background-color: #ffffff;
  font-family: "Outfit", sans-serif;
}

.power-bg-light{
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background: var(--localnav-background-stuck, rgba(222, 222, 222, 1));
  border-color: transparent;
}

.image-container {
  height: auto;
  width: 100%;
  position: relative;
}

.first-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.second-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.first-row img {
  width: 50%;
  height: 833px;
  object-fit: cover;
}

.second-row img {
  width: 50%;
  height: 833px;
  object-fit: cover;
}

.image-container .image-container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container .image-container-title {
  font-size: 210px;
  line-height: 179px;
  color: #ffffff;
  font-weight: 400;
}

.image-container .image-container-description {
  font-size: 27px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 50px;
}

section {
  padding: 0;
}

.override-nav {
  max-width: 1600px;
  padding: 0 5%;
}

.toggle-switch.switch-vertical {
  position: relative;
  height: 70px;
}

.toggle-switch-container {
  width: 100%;
  max-width: 1600px;
}

.toggle-inside {
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  height: 22px;
  width: 22px;
  margin-left: 6%;
}

.toggle-inside:first-child {
  background-color: #ffffff;
  top: 0;
}

.toggle-inside:last-child {
  background-color: #757272;
  bottom: 0;
}

#main-section {
  position: relative;
  height: 100vh;
  min-height: 1320px;
  width: 100%;
}

.main {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  position: relative;
  height: 100%;
}

.main-text-container {
  position: relative;
  height: auto;
  margin-top: 5%;
}

.main-text-container svg {
  width: 100%;
  padding: 0 0 0 5%;
}

.main-text-container text {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  opacity: 0.878;
}

.main-text-container .slogan {
  margin-top: -1%;
  margin-bottom: 5%;
}

.main-text-container .slogan p {
  margin-left: 6%;
  color: #ffffff;
  font-weight: 600;
  line-height: 30px;
  font-size: 28px;
  margin-bottom: 10px;
}

.main-container .main-image {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0%;
  left: 0%;
  margin-top: 0;
}

.main-container .main-image img {
  width: auto;
  height: 100%;
  margin-left: 12%;
  margin-top: 5%;
}

.toggle-row {
  height: 100%;
}

@media (min-width: 1600.5px) {
  #main-section {
    min-height: 1320px;
    max-height: 1320px;
  }
}

@media (max-width: 1600px) {
  .main-container .main-image img {
    height: 80%;
    margin-left: 27%;
    margin-top: 7%;
  }
}

@media (max-width: 1160px) {
  .main-container .main-image img {
    margin-left: 10%;
  }
}

@media (max-width: 991.5px) {
  #main-section {
    min-height: 1086px;
    max-height: 1086px;
  }

  .main-container .main-image img {
    width: auto;
    height: 90%;
    margin-left: 0%;
    margin-top: 10%;
  }
}

@media (max-width: 767.5px) {
  .main-text-container .slogan p {
    font-size: 24px;
  }

  .main-container .main-image img {
    margin-top: 25%;
    margin-left: 0%;
    height: 70%;
  }
}

@media (max-width: 568px) {
  #main-section {
    min-height: 1000px;
    max-height: 1000px;
  }
  .main-text-container {
    margin-top: 0%;
  }
  .main-container .main-image img {
    margin-top: 25%;
    margin-left: 0%;
    height: 60%;
  }
}

@media (max-width: 528px) {
}

@media (max-width: 425px) {
  #main-section {
    min-height: 600px;
    max-height: 600px;
  }
  .main-container .main-image img {
    margin-top: 30%;
    height: 75%;
  }

  .main-text-container .slogan p {
    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 325px) {
  .main-text-container {
    margin-top: 15%;
  }

  .main-container .main-image img {
    margin-top: 60%;
    margin-left: 0%;
    height: 60%;
  }

  .main-text-container .slogan p {
    font-size: 20px;
    line-height: 24px;
  }

  .toggle-inside {
    height: 18px;
    width: 18px;
  }

  .toggle-switch.switch-vertical {
    height: 60px;
  }
}

.stat {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
}

.card .card-logo {
  height: 50px;
  position: relative;
  margin-top: 20%;
  margin-left: 7%;
}

.card .card-logo img {
  height: 100%;
  width: auto;
  color: #ffffff;
}

.card .f-large {
  font-size: 110px;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}

.card .f-bold {
  font-weight: 600;
  font-size: 30px;
}

.card .card-info {
  margin-top: 28%;
}

.card .card-description {
  font-size: 26px;
  font-weight: 300;
  line-height: 34px;
  margin-top: -5%;
  margin-bottom: 60px;
}

#card-1 {
  background-color: #ff4646;
  border-radius: 50px;
  color: #ffffff;
}

#card-2 {
  background-color: #cbcbcb;
  border-radius: 50px;
  color: #ffffff;
}

#card-3 {
  background-color: #1c1c1c;
  border-radius: 50px;
  color: #ffffff;
}

#card-4 {
  background-color: #a1a1a1;
  border-radius: 50px;
  color: #ffffff;
}

.white-circle {
  width: 40px;
  height: 40px;
  border-radius: 23px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5%;
  right: 8%;
}

.stat-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 1440px;
}

@media (max-width: 991.5px) {
  .card {
    margin-bottom: 25px;
  }
  .card .card-logo {
    margin-top: 15%;
    margin-left: 10%;
  }
  .card .card-info {
    margin-top: 10%;
    margin-left: 10%;
  }
  .card .card-description {
    margin-left: 10%;
  }
}

@media (max-width: 567.5px) {
  .card .card-logo {
    margin-top: 5%;
    margin-left: 60%;
  }
  .card .card-info {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 0;
  }
  .card .card-description {
    margin-left: 5%;
    margin-bottom: 20px;
  }
  .card .white-circle {
    display: none;
  }
  .stat-container {
    padding-left: 2%;
    padding-right: 2%;
  }
  .card .card-description {
    font-size: 22px;
    line-height: 1.2;
  }
  .card .f-large {
    font-size: 90px;
  }
  .card .f-bold {
    font-size: 22px;
  }
}

.breakline-475 {
  display: none;
}

@media (max-width: 475.5px) {
  .card .card-logo {
    margin-top: 5%;
    margin-left: 50%;
  }
  .card .card-description {
    font-size: 20px;
  }
  .card .f-large {
    font-size: 70px;
  }
  .card .f-bold {
    font-size: 20px;
  }
  .breakline-475 {
    display: inline;
  }
  .card {
    height: 260px;
  }
  #card-1 {
    border-radius: 25px;
  }
  #card-2 {
    border-radius: 25px;
  }
  #card-3 {
    border-radius: 25px;
  }
  #card-4 {
    border-radius: 25px;
  }
}

@media (max-width: 375px) {
  .card .card-logo {
    margin-top: 5%;
    margin-left: 5%;
  }
  .card .f-large {
    font-size: 50px;
  }
  .card .f-bold {
    font-size: 20px;
  }
  .card {
    height: 220px;
  }
  .card .card-logo img {
    height: 80%;
  }

  #card-1 {
    border-radius: 25px;
  }
  #card-2 {
    border-radius: 25px;
  }
  #card-3 {
    border-radius: 25px;
  }
  #card-4 {
    border-radius: 25px;
  }
  .card .card-info {
    margin-left: 2%;
  }
  .card .card-description {
    margin-left: 2%;
  }
  .card-body {
    padding: 0.3rem 0.3rem;
  }
}

/* @media (max-width: 575.5px) {
  #card-1 {
    border-radius: 25px;
  }
  #card-2 {
    border-radius: 25px;
  }
  #card-3 {
    border-radius: 25px;
  }
  #card-4 {
    border-radius: 25px;
  }
  .card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .card .card-logo {
    margin-top: 0;
    margin-left: 3%;
  }
  .card .card-info {
    line-height: 1;
    position: absolute;
    right: 5%;
    top: 40%;
    transform: translateY(-50%);
    margin: 0;
  }
  .card .card-description {
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 3%;
    font-size: 22px;
    line-height: 1.1;
  }
  .white-circle {
    display: none;
  }
  .degree-right-25 {
    margin-right: 20px;
  }
  .degree-right-6 {
    margin-right: 6px;
  }
} */

/* @media (max-width: 375px) {
  .card .f-large {
    font-size: 90px;
  }
  .card .f-bold {
    font-size: 24px;
  }
  .card .card-logo img {
    height: 80%;
  }
  .degree {
    vertical-align: top;
    font-size: 80px;
  }
  .card .card-info {
    top: 30%;
  }
}

@media (max-width: 320.5px) {
  .card .f-large {
    font-size: 70px;
  }
  .card .f-bold {
    font-size: 22px;
  }
  .degree {
    font-size: 50px;
  }
  .card {
    width: 95%;
  }
  .card .card-logo {
    margin-left: 5%;
  }

  .card .card-description {
    margin-left: 5%;
  }
} */

.stat-image .control-word-container {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 20%;
  bottom: 5%;
}

.stat-image .control-title {
  font-size: 175px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 1.1;
}

.stat-image .control-description {
  font-size: 27px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stat-image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 1600px;
  background-color: #f7f7f7;
  padding-top: 200px;
  overflow: hidden;
}

.stat-image img {
  object-fit: cover;
  width: 100%;
  max-width: 2332.5px;
  height: auto;
}

#remote-break {
  display: none;
}

#remote-title-break {
  display: none;
}

.control-title-md {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 1.1;
}

@media (max-width: 2559.5px) {
  .stat-image img {
    width: 90%;
  }
  .stat-image .control-word-container {
    right: 10%;
  }
}

@media (max-width: 1820px) {
  .stat-image .control-title {
    font-size: 160px;
  }
  #remote-break {
    display: inline-block;
  }
  .center-horizontally {
    bottom: 15%;
    right: 10%;
    transform: translateX(-40%);
  }
}

@media (max-width: 1500px) {
  .stat-image .control-title {
    font-size: 140px;
  }
  .stat-image .control-word-container {
    right: 5%;
  }
}

@media (max-width: 1240px) {
  .stat-image .control-title {
    font-size: 110px;
  }
}

@media (max-width: 1090px) {
  .stat-image {
    padding-bottom: 100px;
  }
  .stat-image .control-title {
    font-size: 90px;
  }
  .stat-image .control-word-container {
    bottom: 5%;
    right: 5%;
    width: 70%;
  }
  .stat-image .control-description {
    width: 100%;
    white-space: normal;
  }
  #remote-break-lg {
    display: none;
  }
  #remote-break {
    display: none;
  }
}

@media (max-width: 875px) {
  .stat-image .control-title {
    font-size: 80px;
  }
  .stat-image {
    padding-bottom: 100px;
  }
  .stat-image .control-description {
    font-size: 24px;
  }
}

@media (max-width: 767.5px) {
  .stat-image .control-title {
    visibility: hidden;
    font-size: 70px;
  }

  .stat-image .control-description {
    font-size: 22px;
  }
  .stat-image .control-word-container {
    bottom: 10%;
    right: 5%;
    width: 75%;
  }
  .control-title-md {
    visibility: visible;
  }

  .stat-image {
    padding-top: 150px;
  }
}

@media (max-width: 598px) {
  .stat-image .control-title-md {
    font-size: 60px;
  }
  .stat-image {
    padding-bottom: 200px;
  }
  .stat-image .control-word-container {
    bottom: 5%;
    right: 5%;
    width: 70%;
  }
}

@media (max-width: 435px) {
  .stat-image .control-title-md {
    font-size: 45px;
  }
  .stat-image {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .stat-image .control-title {
    font-size: 50px;
  }
  .stat-image .control-description {
    font-size: 18px;
    line-height: 1.2;
  }
  .stat-image .control-word-container {
    bottom: 5%;
    right: 5%;
    width: 75%;
  }
  .stat-image {
    padding-top: 100px;
  }
}

@media (max-width: 310px) {
  .stat-image .control-title-md {
    font-size: 35px;
  }
  .stat-image .control-description {
    font-size: 18px;
    line-height: 1.1;
  }
  .stat-image {
    padding-top: 100px;
    padding-bottom: 170px;
  }
}

/*##############################*/

.stat {
  max-width: 3440px;
}

.main-new {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 1225px;
}

.cover-new {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-word-wrapper {
  width: 100%;
  max-width: 1224.5px;
  height: min-content;
  margin-bottom: 100px;
}

.cover-word-wrapper .toggle-inside {
  margin-left: 0;
}

.main-new .slogan p {
  color: #ffffff;
  font-weight: 600;
  line-height: 1.1;
  font-size: 28px;
  margin-bottom: 10px;
}

.cover-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-image-black {
  background-image: url(../img/prototype-black-lg.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 1225px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.unit-image-white {
  background-image: url(../img/prototype-white-lg.png);
  width: 100%;
  height: 1225px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.main-new .slogan {
  margin-bottom: 100px;
}

@media (max-width: 1439.5px) {
  .unit-image-black {
    height: 961px;
    background-size: 2700px auto;
  }
  .unit-image-white {
    height: 961px;
    background-size: 2700px auto;
  }
  .cover-word-wrapper {
    max-width: 964.5px;
    margin-bottom: 20px;
  }
  .main-new {
    height: 961px;
  }
}

@media (max-width: 1024px) {
  .unit-image-black {
    height: 961px;
    background-size: 2500px auto;
  }
  .unit-image-white {
    height: 961px;
    background-size: 2500px auto;
  }
  .cover-word-wrapper {
    max-width: 895.75px;
    margin-bottom: 20px;
  }
  .main-new {
    height: 961px;
  }
}

@media (max-width: 945px) {
  .unit-image-black {
    height: 961px;
    background-size: 2300px auto;
  }
  .unit-image-white {
    height: 961px;
    background-size: 2300px auto;
  }
  .cover-word-wrapper {
    max-width: 823.87px;
    margin-bottom: 20px;
  }
  .main-new .slogan {
    margin-bottom: 50px;
  }
}

@media (max-width: 876px) {
  .unit-image-black {
    height: 748px;
    background-size: 2000px auto;
  }
  .unit-image-white {
    height: 748px;
    background-size: 2000px auto;
  }
  .cover-word-wrapper {
    max-width: 715.87px;
    margin-bottom: 20px;
  }
  .main-new .slogan {
    margin-bottom: 50px;
  }
  .main-new {
    height: 748px;
  }
}

@media (max-width: 767.5px) {
  .unit-image-black {
    height: 748px;
    background-size: 1800px auto;
  }
  .unit-image-white {
    height: 748px;
    background-size: 1800px auto;
  }
  .cover-word-wrapper {
    max-width: 643.87px;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  .main-new .slogan {
    margin-bottom: 50px;
  }
  .main-new {
    height: 748px;
  }

  .main-new .slogan p {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.1;
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-width: 682px) {
  .main-new {
    height: 552px;
  }
  .unit-image-black {
    height: 552px;
    background-size: 1500px auto;
  }
  .unit-image-white {
    height: 552px;
    background-size: 1500px auto;
  }
  .cover-word-wrapper {
    max-width: 535.87px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .main-new .slogan {
    margin-bottom: 50px;
  }

  .main-new .slogan p {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.1;
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-width: 567.5px) {
  .main-new {
    height: 800px;
  }
  .unit-image-black {
    background-image: url(../img/prototype-black-sm.png);
    height: 800px;
    background-size: 567px auto;
  }

  .unit-image-white {
    background-image: url(../img/prototype-white-sm.png);
    height: 800px;
    background-size: 567px auto;
  }
  .cover-word-wrapper {
    max-width: 510.87px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .main-new .slogan p {
    font-size: 21px;
  }
  .toggle-switch.switch-vertical {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 70px;
    width: 64px;
  }
  .toggle-inside:last-child {
    right: 0;
    top: 0;
  }
}

@media (max-width: 535px) {
  .unit-image-black {
    height: 800px;
    background-size: 517px auto;
  }

  .unit-image-white {
    height: 800px;
    background-size: 517px auto;
  }
  .cover-word-wrapper {
    max-width: 479.62px;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .main-new {
    height: 600px;
  }
  .unit-image-black {
    height: 600px;
    background-size: 423px auto;
  }

  .unit-image-white {
    height: 600px;
    background-size: 423px auto;
  }
  .cover-word-wrapper {
    max-width: 380px;
    margin-bottom: 0px;
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .main-new {
    height: 600px;
  }
  .unit-image-black {
    height: 600px;
    background-size: 374px auto;
  }

  .unit-image-white {
    height: 600px;
    background-size: 374px auto;
  }
  .cover-word-wrapper {
    max-width: 340px;
    margin-bottom: 0px;
    margin-top: 0;
    z-index: 5;
  }
}

@media (max-width: 375px) {
  .main-new {
    height: 500px;
  }
  .unit-image-black {
    height: 500px;
    background-size: 320px auto;
  }

  .unit-image-white {
    height: 500px;
    background-size: 320px auto;
  }
  .cover-word-wrapper {
    max-width: 290px;
    margin-bottom: 0px;
    margin-top: 0;
    z-index: 5;
  }

  .main-new .slogan {
    margin-bottom: 40px;
  }
}

@media (max-width: 300px) {
  .main-new {
    height: 500px;
  }
  .unit-image-black {
    height: 500px;
    background-size: 280px auto;
  }

  .unit-image-white {
    height: 500px;
    background-size: 280px auto;
  }
  .cover-word-wrapper {
    max-width: 250px;
    margin-bottom: 0px;
    margin-top: 0;
    z-index: 5;
  }

  .main-new .slogan {
    margin-bottom: 20px;
  }

  .main-new .slogan p {
    font-size: 19px;
  }
}
/****************************************/
.control-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 1375px;
  background-color: #f7f7f7;
  /* background-color: #a1a1a1; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.temp-blank {
  height: 300px;
  background-color: #f7f7f7;
}

.control-word-wrapper {
  width: auto;
  height: min-content;
  margin-bottom: 100px;
  position: relative;
}

.control-word-wrapper .control-word-title {
  text-align: right;
  font-size: 210px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
}

.control-word-wrapper .control-word-description {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
  font-family: "Outfit";
  text-align: right;
}

.control-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-control {
  background-image: url(../img/power-remote-lg.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 1375px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.control-break-lg {
  display: inline;
}

@media (max-width: 1460px) {
  .unit-control {
    width: 100%;
    height: 1375px;
    background-size: 2700px auto;
  }
  .control-word-wrapper .control-word-title {
    font-size: 13vw;
  }
  .control-section {
    height: 1224px;
  }
  .temp-blank {
    height: 0px;
  }
}

@media (max-width: 1350px) {
  .unit-control {
    width: 100%;
    height: 1375px;
    background-size: 2500px auto;
  }
  .control-word-wrapper {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (max-width: 1120px) {
}

@media (max-width: 1024px) {
  .unit-control {
    width: 100%;
    height: 1000px;
    background-size: 1800px auto;
  }
  .control-section {
    height: 1024px;
  }
  .control-break-lg {
    display: none;
  }
}

@media (max-width: 768px) {
  .control-section {
    height: 800px;
  }
  .unit-control {
    width: 100%;
    height: 600px;
    background-size: 1200px auto;
  }
}

@media (max-width: 567.5px) {
  .control-section {
    height: 750px;
  }
  .control-word-wrapper .control-word-title {
    text-align: center;
    font-size: 105px;
  }
  .control-word-wrapper .control-word-description {
    text-align: center;
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .unit-control {
    height: 550px;
    background-image: url(../img/power-remote-sm.png);
    background-size: 567px auto;
  }
}

@media (max-width: 510px) {
  .unit-control {
    background-size: 510px auto;
  }
  .control-word-wrapper .control-word-title {
    font-size: 80px;
  }
}

@media (max-width: 425px) {
  .unit-control {
    height: 300px;
    background-size: 425px auto;
  }
  .control-word-wrapper .control-word-title {
    font-size: 70px;
  }
  .control-section {
    height: 500px;
  }
  .control-word-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .unit-control {
    background-size: 375px auto;
  }
  .control-word-wrapper .control-word-title {
    font-size: 60px;
  }
  .control-word-wrapper .control-word-description {
    font-size: 20px;
  }
  .unit-control {
    height: 300px;
  }
  .control-section {
    height: 500px;
  }
  .control-word-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .unit-control {
    background-size: 320px auto;
    height: 300px;
  }
  .control-word-wrapper {
    margin-bottom: 50px;
  }
  .control-word-wrapper .control-word-title {
    font-size: 50px;
  }
  .control-word-wrapper .control-word-description {
    font-size: 18px;
    padding-left: 0%;
    padding-right: 0%;
  }
  .control-section {
    height: 450px;
  }
}

/****************************************/

/****************************************/
.stair-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 2474px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item {
  height: 10rem;
  background: #4dc7a0;
  padding: 1rem;
}

.stair-word-wrapper {
  position: relative;
  width: 100%;
  max-width: calc(1440px + 5%);
  height: min-content;
  margin-bottom: 230px;
  z-index: 2;
  padding-left: 5%;
}

.stair-word-wrapper .stair-word-title {
  font-size: 210px;
  color: #000000;
  font-weight: 400;
}

.stair-word-wrapper .stair-word-subtitle {
  font-size: 32px;
  line-height: 1;
  color: #000000;
  font-weight: 300;
}

.stair-word-wrapper .stair-word-description {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
}

.stair-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-stair {
  background-image: url(../img/power-stair-background-lg.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 2474px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

@media (max-width: 1460px) {
  .unit-stair {
    background-size: 2400px auto;
    height: 1800px;
  }
  .stair-section {
    height: 1765px;
  }
  .stair-word-wrapper {
    margin-bottom: 100px;
    padding-right: 5%;
  }
}

@media (max-width: 1024px) {
  .unit-stair {
    background-size: 2000px auto;
    height: 1500px;
  }
  .stair-section {
    height: 1470px;
  }
  .stair-word-wrapper {
    margin-bottom: 50px;
    padding-right: 5%;
  }
}

@media (max-width: 880px) {
  .unit-stair {
    background-size: 1600px auto;
    height: 1200px;
  }
  .stair-section {
    height: 1175px;
  }
  .stair-word-wrapper {
    margin-bottom: 25px;
    padding-right: 5%;
  }
  .stair-word-wrapper .stair-word-title {
    line-height: 1;
    font-size: 160px;
  }
}

@media (max-width: 725px) {
  .unit-stair {
    background-size: 1300px auto;
    height: 1000px;
  }
  .stair-section {
    height: 970px;
  }
  .stair-word-wrapper .stair-word-description {
    font-size: 24px;
    line-height: 1.1;
  }
  .stair-word-wrapper .stair-word-title {
    font-size: 130px;
  }
  .stair-section-breakline {
    display: none;
  }
  .stair-word-wrapper {
    padding-right: 13%;
  }
}

@media (max-width: 567.5px) {
  .unit-stair {
    background-image: url(../img/power-stair-background-sm.png);
    background-size: 1100px auto;
    height: 1050px;
  }
  .stair-section {
    height: 1040px;
  }
  .stair-word-wrapper {
    margin-bottom: 0px;
  }
  .stair-word-wrapper {
    padding-right: 5%;
  }
}

@media (max-width: 425px) {
  .unit-stair {
    background-size: 820px auto;
    height: 850px;
  }
  .stair-section {
    height: 830px;
  }
  .stair-word-wrapper .stair-word-title {
    font-size: 100px;
  }
  .stair-word-wrapper .stair-word-subtitle {
    font-size: 26px;
  }
  .stair-word-wrapper .stair-word-description {
    font-size: 22px;
    line-height: 1;
  }
  .stair-section-break {
    display: none;
  }
}

@media (max-width: 375px) {
}
/****************************************/

/****************************************/
.terrain-images-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.terrain-images-section img {
  width: 50%;
}

.terrain-word-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.terrain-word-wrapper .terrain-word-title {
  font-size: 210px;
  line-height: 0.85;
  color: #ffffff;
  font-weight: 400;
}

.terrain-word-wrapper .terrain-word-description {
  font-size: 27px;
  line-height: 1.25;
  color: #ffffff;
  font-weight: 300;
  margin-top: 50px;
}

@media (max-width: 1120px) {
  .terrain-word-wrapper .terrain-word-title {
    font-size: 190px;
  }
}

@media (max-width: 1024px) {
  .terrain-word-wrapper .terrain-word-title {
    font-size: 170px;
  }
}

@media (max-width: 924px) {
  .terrain-word-wrapper .terrain-word-title {
    font-size: 150px;
  }
}

@media (max-width: 824px) {
  .terrain-word-wrapper .terrain-word-title {
    font-size: 130px;
  }
}

@media (max-width: 724px) {
  .terrain-word-wrapper .terrain-word-title {
    font-size: 100px;
  }
  .terrain-breakline {
    display: none;
  }
}

@media (max-width: 567.5px) {
  .first-row {
    flex-direction: column;
  }
  .second-row {
    flex-direction: column;
  }
  .first-row img {
    width: 100%;
    height: 195px;
    min-height: 200px;
  }
  .second-row img {
    width: 100%;
    height: 195px;
    min-height: 200px;
  }
  .terrain-word-wrapper {
    min-width: 70%;
  }
  .terrain-word-wrapper .terrain-word-description {
    font-size: 19px;
    line-height: 1.1;
  }
  .terrain-word-wrapper .terrain-added {
    font-size: 22px;
    white-space: nowrap;
    font-weight: 400;
  }
}

@media (max-width: 375px) {
  .first-row img {
    width: 100%;
    height: 170px;
    min-height: 170px;
  }
  .second-row img {
    width: 100%;
    height: 170px;
    min-height: 170px;
  }
  .terrain-word-wrapper .terrain-added {
    white-space: normal;
  }
  .terrain-word-wrapper .terrain-word-title {
    font-size: 80px;
  }
}

@media (max-width: 320px) {
  .terrain-word-wrapper .terrain-word-title {
    font-size: 70px;
  }
}

/****************************************/

/****************************************/
.app-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.app-section .app-word-wrapper {
  text-align: center;
  max-width: 1440px;
}

.app-section .app-word-wrapper h1 {
  font-size: 210px;
  line-height: 0.85;
  color: #000000;
  font-weight: 400;
}

.app-section .app-word-wrapper p {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
  margin-top: 50px;
}

.app-section .app-showcase-wrapper {
  margin-top: 50px;
  display: flex;
  max-width: 1440px;
  column-gap: 50px;
}

.app-showcase-wrapper .app-showcase-image {
  text-align: center;
}

.app-showcase-image p {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
  margin-top: 25px;
}

.app-section .app-showcase-wrapper img {
  max-width: 100%;
  height: auto;
}

.app-showcase-carousel {
  width: 3440px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-carousel {
  position: relative;
  margin-top: 26px;
  display: flex;
  justify-content: center;
}

.custom-carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.custom-carousel-open:checked + .custom-carousel-item {
  position: static;
  opacity: 100;
  height: 934px;
}

.custom-carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.unit-app-showcase-1 {
  background-image: url(../img/app-hand-showcase-1.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 934px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.unit-app-showcase-2 {
  background-image: url(../img/app-hand-showcase-2.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 934px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.unit-app-showcase-3 {
  background-image: url(../img/app-hand-showcase-3.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 934px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

.custom-carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.label-wrapper {
  width: 100%;
  max-width: 3440px;
}

.custom-carousel-control {
  background-color: rgba(223, 223, 227, 0.6976);
  color: rgba(0, 0, 0, 0.64);
  border-radius: 50%;
  cursor: pointer;
  display: none;
  font-size: 53px;
  width: 3.0588235294rem;
  height: 3.0588235294rem;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  z-index: 10;
}

.custom-carousel-control.prev {
  left: calc((90% - 1604px) / 2);
}

.custom-carousel-control.next {
  right: calc((90% - 1604px) / 2);
}

@media (max-width: 1919.5px) {
  .custom-carousel-control.prev {
    left: 2%;
  }

  .custom-carousel-control.next {
    right: 2%;
  }
}

.custom-carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#custom-carousel-1:checked ~ .control-1,
#custom-carousel-2:checked ~ .control-2,
#custom-carousel-3:checked ~ .control-3 {
  display: block;
}

.custom-carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.custom-carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.custom-carousel-bullet {
  background-color: #e6e6e6;
  cursor: pointer;
  display: block;
  font-size: 35px;
  width: 39px;
  height: 8px;
  border-radius: 10px;
}

.custom-carousel-bullet:hover {
  background-color: #aaaaaa;
}

#custom-carousel-1:checked
  ~ .control-1
  ~ .custom-carousel-indicators
  li:nth-child(1)
  .custom-carousel-bullet,
#custom-carousel-2:checked
  ~ .control-2
  ~ .custom-carousel-indicators
  li:nth-child(2)
  .custom-carousel-bullet,
#custom-carousel-3:checked
  ~ .control-3
  ~ .custom-carousel-indicators
  li:nth-child(3)
  .custom-carousel-bullet {
  background-color: #000000;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

@media (max-width: 1460px) {
  .app-section .app-word-wrapper {
    text-align: center;
    max-width: calc(1440px + 2%);
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 1439.5px) {
  .app-breakline {
    display: none;
  }
  .app-section .app-word-wrapper h1 {
    font-size: 190px;
  }
  .app-section .app-showcase-wrapper {
    column-gap: 15px;
  }
  .app-showcase-image p {
    font-size: 24px;
    line-height: 1.1;
    margin-top: 15px;
  }

  .custom-carousel-open:checked + .custom-carousel-item {
    height: 700px;
  }
  .unit-app-showcase-1 {
    height: 700px;
    background-size: 2500px auto;
  }
  .unit-app-showcase-2 {
    height: 700px;
    background-size: 2500px auto;
  }
  .unit-app-showcase-3 {
    height: 700px;
    background-size: 2500px auto;
  }
}

@media (max-width: 1023.5px) {
  .app-section .app-word-wrapper h1 {
    font-size: 140px;
  }
  .app-showcase-image p {
    font-size: 21px;
    line-height: 1.1;
    margin-top: 10px;
  }
  .app-section .app-word-wrapper p {
    font-size: 24px;
    line-height: 1.2;
  }
  .app-section .app-showcase-wrapper {
    margin-top: 25px;
  }

  .custom-carousel-open:checked + .custom-carousel-item {
    height: 550px;
  }
  .unit-app-showcase-1 {
    height: 550px;
    background-size: 1850px auto;
  }
  .unit-app-showcase-2 {
    height: 550px;
    background-size: 1850px auto;
  }
  .unit-app-showcase-3 {
    height: 550px;
    background-size: 1850px auto;
  }
}

@media (max-width: 768px) {
  .app-section .app-word-wrapper h1 {
    font-size: 110px;
  }
  .app-showcase-image p {
    font-size: 19px;
    line-height: 1.1;
    margin-top: 10px;
  }
  .app-section .app-word-wrapper p {
    font-size: 21px;
    line-height: 1.1;
  }
  .app-section .app-showcase-wrapper {
    margin-top: 10px;
  }

  .custom-carousel-open:checked + .custom-carousel-item {
    height: 450px;
  }
  .unit-app-showcase-1 {
    height: 450px;
    background-size: 1550px auto;
  }
  .unit-app-showcase-2 {
    height: 450px;
    background-size: 1550px auto;
  }
  .unit-app-showcase-3 {
    height: 450px;
    background-size: 1550px auto;
  }
}

@media (max-width: 650px) {
  .custom-carousel-open:checked + .custom-carousel-item {
    height: 380px;
  }
  .unit-app-showcase-1 {
    height: 380px;
    background-size: 1350px auto;
  }
  .unit-app-showcase-2 {
    height: 380px;
    background-size: 1350px auto;
  }
  .unit-app-showcase-3 {
    height: 380px;
    background-size: 1350px auto;
  }
}

#app-breakline {
  display: none;
}

@media (max-width: 567.5px) {
  .app-section .app-showcase-wrapper {
    display: none;
  }
  #app-breakline {
    display: inline;
  }
  .app-section .app-word-wrapper p {
    padding: 0 0%;
    font-size: 20px;
  }
  .custom-carousel-open:checked + .custom-carousel-item {
    height: 320px;
  }
  .unit-app-showcase-1 {
    height: 320px;
    background-size: 1100px auto;
  }
  .unit-app-showcase-2 {
    height: 320px;
    background-size: 1100px auto;
  }
  .unit-app-showcase-3 {
    height: 320px;
    background-size: 1100px auto;
  }
  .custom-carousel-bullet {
    width: 25px;
    height: 5px;
  }
  .custom-carousel-control {
    font-size: 35px;
    width: 2.0588235294rem;
    height: 2.0588235294rem;
    line-height: 0.7;
  }
}

@media (max-width: 435px) {
  .remote-sm-breakline {
    display: none;
  }
  .app-section .app-word-wrapper p {
    padding: 0 2%;
    font-size: 21px;
    margin-top: 25px;
  }
  .remote-first-breakline {
    display: none;
  }
  .custom-carousel-open:checked + .custom-carousel-item {
    height: 250px;
  }
  .unit-app-showcase-1 {
    height: 250px;
    background-size: 900px auto;
  }
  .unit-app-showcase-2 {
    height: 250px;
    background-size: 900px auto;
  }
  .unit-app-showcase-3 {
    height: 250px;
    background-size: 900px auto;
  }
  .custom-carousel {
    margin-top: 0px;
  }
}

@media (max-width: 375px) {
  .app-section .app-word-wrapper h1 {
    font-size: 90px;
  }
  .custom-carousel-open:checked + .custom-carousel-item {
    height: 220px;
  }
  .unit-app-showcase-1 {
    height: 220px;
    background-size: 760px auto;
  }
  .unit-app-showcase-2 {
    height: 220px;
    background-size: 760px auto;
  }
  .unit-app-showcase-3 {
    height: 220px;
    background-size: 760px auto;
  }
  .custom-carousel {
    margin-top: 0px;
  }
}

@media (max-width: 320px) {
  .app-section .app-word-wrapper h1 {
    font-size: 70px;
  }
  .app-section .app-word-wrapper p {
    font-size: 19px;
  }
  .custom-carousel-open:checked + .custom-carousel-item {
    height: 200px;
  }
  .unit-app-showcase-1 {
    height: 200px;
    background-size: 650px auto;
  }
  .unit-app-showcase-2 {
    height: 200px;
    background-size: 650px auto;
  }
  .unit-app-showcase-3 {
    height: 200px;
    background-size: 650px auto;
  }
  .custom-carousel {
    margin-top: 0px;
  }
}

/****************************************/

/****************************************/
.comfort-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 1837px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.comfort-section .comfort-text-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: min-content;
  margin-top: 140px;
  z-index: 2;
}

.comfort-section .comfort-text-wrapper h1 {
  font-size: 210px;
  line-height: 0.85;
  color: #000000;
  font-weight: 400;
  font-family: "Outfit";
  text-align: right;
  margin-bottom: 50px;
}

.comfort-section .comfort-text-wrapper p {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
  font-family: "Outfit";
  text-align: right;
}

.comfort-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-comfort {
  background-image: url(../img/comfort-background-lg.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 1847px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

@media (max-width: 1700px) {
  .comfort-section {
    height: 1600px;
  }
  .unit-comfort {
    height: 1800px;
    background-size: 2800px auto;
  }
}

@media (max-width: 1500px) {
  .comfort-section .comfort-text-wrapper {
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media (max-width: 1440px) {
  .comfort-section {
    height: 1600px;
  }
  .unit-comfort {
    height: 1720px;
    background-size: 2600px auto;
  }
}

@media (max-width: 1320px) {
  .comfort-section {
    height: 1600px;
  }
  .unit-comfort {
    height: 1750px;
    background-size: 2380px auto;
  }
}

@media (max-width: 1200px) {
  .comfort-section {
    height: 1300px;
  }
  .unit-comfort {
    height: 1350px;
    background-size: 2300px auto;
  }
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 180px;
  }
  .comfort-section .comfort-text-wrapper {
    margin-top: 70px;
  }
}

@media (max-width: 1024px) {
  .comfort-section {
    height: 1200px;
  }
  .unit-comfort {
    height: 1430px;
    background-size: 1800px auto;
  }
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 170px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .comfort-section {
    height: 1200px;
  }
  .unit-comfort {
    height: 1500px;
    background-size: 1600px auto;
  }
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 160px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .comfort-section {
    height: 1100px;
  }
  .unit-comfort {
    height: 1430px;
    background-size: 1400px auto;
  }
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 150px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .comfort-section {
    height: 1000px;
  }
  .unit-comfort {
    height: 1275px;
    background-size: 1300px auto;
  }

  .comfort-section .comfort-text-wrapper h1 {
    font-size: 130px;
    margin-bottom: 25px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .comfort-section {
    height: 900px;
  }
  .unit-comfort {
    height: 1100px;
    background-size: 1100px auto;
  }
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 110px;
    margin-bottom: 25px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 22px;
  }
  .comfort-sm-breakline {
    display: none;
  }
}

@media (max-width: 567.5px) {
  .comfort-section {
    height: 950px;
  }
  .unit-comfort {
    height: 1300px;
    background-size: 575px auto;
    background-image: url(../img/comfort-background-sm.png);
  }
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 100px;
    text-align: center;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 21px;
    text-align: center;
    padding: 0 3%;
  }
}

@media (max-width: 545px) {
  .comfort-section .comfort-text-wrapper {
    margin-top: 35px;
  }
  .comfort-section {
    height: 850px;
  }
  .unit-comfort {
    height: 1200px;
    background-size: 480px auto;
    background-image: url(../img/comfort-background-sm.png);
  }
}

@media (max-width: 475px) {
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 90px;
    text-align: center;
  }
  .comfort-section {
    height: 850px;
  }
  .unit-comfort {
    height: 1200px;
    background-size: 440px auto;
  }
}

@media (max-width: 425px) {
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 80px;
  }
  .comfort-section {
    height: 750px;
  }
  .unit-comfort {
    height: 1150px;
    background-size: 380px auto;
  }
}

@media (max-width: 375px) {
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 70px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 19px;
  }
  .comfort-section {
    height: 700px;
  }
  .unit-comfort {
    height: 1020px;
    background-size: 330px auto;
  }
}

@media (max-width: 320px) {
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 60px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 19px;
  }
  .comfort-section {
    height: 650px;
  }
  .unit-comfort {
    height: 960px;
    background-size: 300px auto;
  }
}

@media (max-width: 300px) {
  .comfort-section .comfort-text-wrapper h1 {
    font-size: 50px;
  }
  .comfort-section .comfort-text-wrapper p {
    font-size: 19px;
    line-height: 1.1;
  }
  .comfort-section {
    height: 620px;
  }
  .unit-comfort {
    height: 910px;
    background-size: 280px auto;
  }
}

/****************************************/

/****************************************/
.storage-section {
  position: relative;
  max-width: 3440px;
  margin: 0 auto;
  height: 2030px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.storage-text-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: min-content;
  margin-top: 140px;
  margin-bottom: 230px;
  z-index: 2;
}

.storage-text-wrapper h1 {
  font-size: 210px;
  line-height: 0.85;
  color: #000000;
  font-weight: 400;
  font-family: "Outfit";
  margin-bottom: 50px;
}

.storage-text-wrapper p {
  font-size: 27px;
  line-height: 1.25;
  color: #000000;
  font-weight: 300;
  font-family: "Outfit";
}

.storage-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-storage {
  background-image: url(../img/storage-background.png);
  width: 100%; /* 将宽度设置为相对于父元素的百分比 */
  height: 2030px;
  background-size: 3440px auto;
  background-repeat: no-repeat;
  background-position-x: center; /* 将背景图片在元素内居中显示 */
  background-position-y: center;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: none; /* 移除水平平移变换 */
  transform: none;
}

@media (max-width: 1500px) {
  .storage-text-wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 1250px) {
  .storage-section {
    height: 1475px;
  }
  .storage-text-wrapper {
    padding-left: 10%;
  }
  .unit-storage {
    height: 1475px;
    background-size: 2490px auto;
  }
}

@media (max-width: 1024px) {
  .storage-text-wrapper {
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 320px;
  }
  .unit-storage {
    height: 1370px;
    background-size: 2300px auto;
  }
  .storage-section {
    height: 1350px;
  }
  .storage-text-wrapper h1 {
    font-size: 180px;
  }
  .storage-text-wrapper p {
    font-size: 24px;
  }
}

@media (max-width: 924px) {
  .storage-text-wrapper {
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 320px;
  }
  .unit-storage {
    height: 1370px;
    background-size: 2300px auto;
  }
  .storage-section {
    height: 1350px;
  }
  .storage-text-wrapper h1 {
    font-size: 170px;
  }
  .storage-text-wrapper p {
    font-size: 24px;
  }
}

@media (max-width: 924px) {
  .storage-text-wrapper {
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 320px;
  }
  .unit-storage {
    height: 1100px;
    background-size: 1700px auto;
  }
  .storage-section {
    height: 1050px;
  }
  .storage-text-wrapper h1 {
    font-size: 160px;
  }
  .storage-text-wrapper p {
    font-size: 24px;
  }
  .storage-text-wrapper {
    margin-top: 250px;
  }
}

@media (max-width: 824px) {
  .storage-text-wrapper h1 {
    font-size: 150px;
  }
  .storage-text-wrapper p {
    font-size: 24px;
  }
  .storage-text-wrapper {
    margin-top: 250px;
  }
}

@media (max-width: 724px) {
  .storage-text-wrapper h1 {
    font-size: 140px;
  }
  .storage-text-wrapper p {
    font-size: 22px;
  }
  .storage-text-wrapper {
    margin-top: 250px;
  }
}

@media (max-width: 624px) {
  .storage-text-wrapper h1 {
    font-size: 130px;
  }
  .storage-text-wrapper p {
    font-size: 22px;
  }
  .storage-text-wrapper {
    margin-top: 250px;
  }
}

@media (max-width: 567.5px) {
  .storage-section {
    height: 728px;
  }
  .unit-storage {
    background-image: url(../img/storage-background-sm.png);
    height: 750px;
    background-size: 568px auto;
  }
  .storage-text-wrapper h1 {
    font-size: 105px;
    margin-bottom: 25px;
  }
  .storage-text-wrapper {
    padding-left: 10%;
    margin-top: 170px;
  }
}

@media (max-width: 475px) {
  .storage-text-wrapper {
    padding-left: 5%;
    margin-top: 170px;
  }
  .storage-text-wrapper h1 {
    font-size: 95px;
    margin-bottom: 25px;
  }
  .storage-text-wrapper p {
    font-size: 21px;
  }
}

@media (max-width: 425px) {
  .storage-section {
    height: 523px;
  }
  .storage-text-wrapper {
    padding-left: 5%;
    margin-top: 130px;
  }
  .storage-text-wrapper h1 {
    font-size: 75px;
    margin-bottom: 25px;
  }
  .storage-text-wrapper p {
    font-size: 19px;
    line-height: 1.1;
  }
  .unit-storage {
    height: 525px;
    background-size: 425px auto;
  }
}

@media (max-width: 370px) {
  .storage-text-wrapper {
    padding-left: 5%;
    margin-top: 130px;
  }
  .storage-text-wrapper h1 {
    font-size: 65px;
    margin-bottom: 25px;
  }
  .storage-text-wrapper p {
    font-size: 19px;
    line-height: 1.1;
  }
}

@media (max-width: 300px) {
  .storage-text-wrapper h1 {
    font-size: 55px;
    margin-bottom: 25px;
  }
  .storage-text-wrapper p {
    font-size: 19px;
    line-height: 1.1;
  }
}

/****************************************/

/****************************************/
.footer-section {
  position: relative;
  max-width: calc(10% + 3440px);
  margin: 0 auto;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-text-wrapper {
  position: relative;
  width: 100%;
  max-width: 1224.5px;
  height: min-content;
  margin-top: 100px;
  margin-bottom: 140px;
  z-index: 2;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-text-wrapper h1 {
  font-size: 27px;
  letter-spacing: 6px;
  line-height: 1.81;
  color: #ffffff;
  font-weight: 400;
  font-family: "Outfit";
}

.footer-text-wrapper .contact-us-info {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-text-wrapper h1 {
  letter-spacing: 6px;
}

.footer-section i {
  font-size: 30px;
  color: #b8b8b8;
}

.footer-section hr {
  opacity: 1;
  color: #ffffff;
  display: block;
  max-width: 3440px;
  width: 100%;
  border-color: #4a4a4a;
  background-color: #c9c9c9;
}

.footer-section .footer-description {
  font-size: 20px;
  line-height: 2.9;
  color: #ffffff;
  font-weight: 250;
  font-family: "Outfit";
}

.footer-text-wrapper .location-info {
  display: grid;
  grid-template-columns: auto;
}

.footer-breakline{
  display: none;
}

@media (max-width: 1024px){
  .footer-text-wrapper {
    margin-top: 100px;
  }
}

@media (max-width: 768px){
  .footer-text-wrapper .contact-us-info {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
}
.footer-text-wrapper {
  margin-top: 70px;
}
}

@media (max-width: 567.5px){
  .footer-breakline{
    display: inline;
  }
  .footer-text-wrapper {
    margin-top: 50px;
  }
}

/****************************************/

.stair-stat {
  background-color: #efefef;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 150px;
}

.stair-stat h1 {
  font-family: "Outfit", sans-serif;
}

.stair-stat .stair-stat-center {
  position: absolute;
  bottom: 8%;
  left: 30%;
}

.stair-stat img {
  object-fit: cover;
  width: 80%;
  height: auto;
}

.stair-stat .control-word-container {
  display: inline-block;
  text-align: left;
}

.stair-stat .control-title {
  font-size: 175px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 140px;
}

.stair-stat .control-subtitle {
  font-size: 32px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stair-stat .control-word-container-md {
  position: absolute;
  top: 5%;
  left: 5%;
  display: inline-block;
  text-align: left;
  visibility: hidden;
}

.stair-stat .control-title-md {
  font-size: 175px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 140px;
}

.stair-stat .control-subtitle-md {
  font-size: 32px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stair-stat .control-description {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stat-temp-breakline {
  display: none;
}

.stair-stat-empty {
  background-color: #d9d9d9;
}

@media (max-width: 2000px) {
  .stair-stat .stair-stat-center {
    left: 20%;
  }
}

@media (max-width: 1600px) {
  .stair-stat .stair-stat-center {
    left: 10%;
  }
  .stat-temp-breakline {
    display: inline-block;
  }
}

@media (max-width: 1200.5px) {
  .stair-stat .stair-stat-center {
    bottom: 5%;
    left: 5%;
    width: 50%;
  }
  .stair-stat .control-title {
    font-size: 150px;
  }
  .stat-temp-breakline {
    display: inline-block;
  }
}

@media (max-width: 992.5px) {
  .stat-breakline {
    display: none;
  }
  .stat-temp-breakline {
    display: none;
  }
  .stair-stat .control-description {
    white-space: normal;
  }
  .stair-stat .control-title {
    font-size: 130px;
  }
}

@media (max-width: 768.5px) {
  .stair-stat .control-word-container-md {
    visibility: visible;
  }

  .stair-stat .control-word-container .control-title {
    visibility: hidden;
  }

  .stair-stat .control-word-container .control-subtitle {
    visibility: hidden;
  }
  .stair-stat .control-description {
    line-height: 1.2;
  }
  .stair-stat-empty {
    height: 150px;
  }
}

@media (max-width: 576.5px) {
  .stair-stat .control-description {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .stair-stat .control-description {
    line-height: 1;
  }
  .stair-stat .control-title {
    font-size: 100px;
    line-height: 1.1;
  }
  .stair-stat .control-subtitle {
    font-size: 28px;
  }
  .stair-stat .stair-stat-center {
    width: 60%;
  }
}

@media (max-width: 375.5px) {
  .stair-stat .control-title {
    font-size: 80px;
  }
  .stair-stat .stair-stat-center {
    width: 70%;
  }
  .stair-stat .control-subtitle {
    font-size: 24px;
    line-height: 1.1;
  }
  .stair-stat .control-description {
    font-size: 18px;
  }
}

/* @media (max-width: 1140px) {
  .image-container .image-container-title {
    font-size: 190px;
    line-height: 0.9;
  }
  .image-container-breakline-lg {
    display: none;
  }
}

@media (max-width: 992px) {
  .image-container .image-container-title {
    font-size: 170px;
  }
}

@media (max-width: 900px) {
  .image-container .image-container-title {
    font-size: 145px;
  }
}

@media (max-width: 767.5px) {
  .image-container .image-container-title {
    font-size: 130px;
  }
  .first-row img {
    height: 50vh;
    min-height: 500px;
  }
  .second-row img {
    height: 50vh;
    min-height: 500px;
  }
}

@media (max-width: 680px) {
  .image-container .image-container-title {
    font-size: 120px;
  }
}

@media (max-width: 630px) {
  .image-container .image-container-title {
    font-size: 110px;
  }
}

@media (max-width: 576px) {
  .image-container .image-container-title {
    font-size: 100px;
  }
}

@media (max-width: 542px) {
  .image-container .image-container-title {
    font-size: 80px;
  }
  .image-container .image-container-description {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media (max-width: 460px) {
  .image-container .image-container-title {
    font-size: 70px;
  }
  .first-row {
    flex-direction: column;
  }
  .second-row {
    flex-direction: column;
  }
  .first-row img {
    width: 100%;
    height: 25vw;
    min-height: 200px;
  }
  .second-row img {
    width: 100%;
    height: 25vw;
    min-height: 200px;
  }
}

@media (max-width: 375.5px) {
  .image-container .image-container-title {
    font-size: 60px;
  }
  .image-container .image-container-description {
    font-size: 22px;
    line-height: 1.2;
  }
}

@media (max-width: 320.5px) {
  .image-container .image-container-title {
    font-size: 50px;
  }
  .image-container .image-container-description {
    font-size: 20px;
    line-height: 1.1;
  }
} */
