body {
  background-color: #dedede;
  font-family: "Outfit", sans-serif;
}

section {
  padding: 0;
}

.main {
  overflow: hidden;
}

.override-nav {
  max-width: 1600px;
  padding: 0 5%;
}

.main {
  justify-content: center;
}

.toggle-switch.switch-vertical {
  position: relative;
  height: 70px;
}

.toggle-switch-container {
  width: 100%;
  max-width: 1600px;
}

.toggle-inside {
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  height: 22px;
  width: 22px;
  margin-left: 6%;
}

.toggle-inside:first-child {
  background-color: #ffffff;
  top: 0;
}

.toggle-inside:last-child {
  background-color: #757272;
  bottom: 0;
}

#main-section {
  position: relative;
  height: 100vh;
  min-height: 1320px;
  width: 100%;
}

.main {
  height: 100vh;
  min-height: 1320px;
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-container {
  position: relative;
  height: 100%;
}

.main-text-container {
  position: relative;
  height: auto;
  margin-top: 5%;
}

.main-text-container svg {
  width: 100%;
  padding: 0 0 0 5%;
}

.main-text-container text {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  opacity: 0.878;
}

.main-text-container .slogan {
  margin-top: -1%;
  margin-bottom: 5%;
}

.main-text-container .slogan p {
  margin-left: 6%;
  color: #ffffff;
  font-weight: 600;
  line-height: 30px;
  font-size: 28px;
  margin-bottom: 10px;
}

.main-container .main-image {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0%;
  left: 0%;
  margin-top: 0;
}

.main-container .main-image img {
  width: auto;
  height: 100%;
  margin-left: 12%;
  margin-top: 5%;
}

.toggle-row {
  height: 100%;
}

@media (min-width: 1600.5px) {
  .main {
    min-height: 1320px;
    max-height: 1320px;
  }

  #main-section {
    min-height: 1320px;
    max-height: 1320px;
  }
}

@media (max-width: 1600px) {
  .main-container .main-image img {
    height: 80%;
    margin-left: 27%;
    margin-top: 7%;
  }
}

@media (max-width: 1160px) {
  .main-container .main-image img {
    margin-left: 10%;
  }
}

@media (max-width: 991.5px) {
  .main {
    min-height: 1086px;
    max-height: 1086px;
  }

  #main-section {
    min-height: 1086px;
    max-height: 1086px;
  }

  .main-container .main-image img {
    width: auto;
    height: 90%;
    margin-left: 0%;
    margin-top: 10%;
  }
}

@media (max-width: 767.5px) {
  .main-text-container .slogan p {
    font-size: 24px;
  }

  .main-container .main-image img {
    margin-top: 25%;
    margin-left: 0%;
    height: 70%;
  }
}

@media (max-width: 568px) {
  .main {
    min-height: 1000px;
    max-height: 1000px;
  }
  #main-section {
    min-height: 1000px;
    max-height: 1000px;
  }
  .main-text-container {
    margin-top: 0%;
  }
  .main-container .main-image img {
    margin-top: 25%;
    margin-left: 0%;
    height: 60%;
  }
}

@media (max-width: 528px) {
}

@media (max-width: 425px) {
  .main {
    min-height: 600px;
    max-height: 600px;
  }
  #main-section {
    min-height: 600px;
    max-height: 600px;
  }
  .main-container .main-image img {
    margin-top: 30%;
    height: 75%;
  }

  .main-text-container .slogan p {
    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 325px) {
  .main-text-container {
    margin-top: 15%;
  }

  .main-container .main-image img {
    margin-top: 60%;
    margin-left: 0%;
    height: 60%;
  }

  .main-text-container .slogan p {
    font-size: 20px;
    line-height: 24px;
  }

  .toggle-inside {
    height: 18px;
    width: 18px;
  }

  .toggle-switch.switch-vertical {
    height: 60px;
  }
}

.stat {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
}

.card .card-logo {
  height: 50px;
  position: relative;
  margin-top: 20%;
  margin-left: 7%;
}

.card .card-logo img {
  height: 100%;
  width: auto;
  color: #ffffff;
}

.card .f-large {
  font-size: 110px;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}

.card .f-bold {
  font-weight: 600;
  font-size: 30px;
}

.card .card-info {
  margin-top: 28%;
}

.card .card-description {
  font-size: 26px;
  font-weight: 300;
  line-height: 34px;
  margin-top: -5%;
  margin-bottom: 60px;
}

#card-1 {
  background-color: #ff4646;
  border-radius: 50px;
  color: #ffffff;
}

#card-2 {
  background-color: #cbcbcb;
  border-radius: 50px;
  color: #ffffff;
}

#card-3 {
  background-color: #1c1c1c;
  border-radius: 50px;
  color: #ffffff;
}

#card-4 {
  background-color: #a1a1a1;
  border-radius: 50px;
  color: #ffffff;
}

.white-circle {
  width: 40px;
  height: 40px;
  border-radius: 23px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5%;
  right: 8%;
}

@media (max-width: 992.5px) {
  .card {
    margin-bottom: 25px;
  }
  .card .card-logo {
    margin-top: 15%;
    margin-left: 10%;
  }
  .card .card-info {
    margin-top: 10%;
    margin-left: 10%;
  }
  .card .card-description {
    margin-left: 10%;
  }
}

@media (max-width: 575.5px) {
  .card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 320.5px) {
  .card {
    width: 95%;
  }
  .card .card-logo {
    margin-left: 5%;
  }
  .card .card-info {
    margin-top: 5%;
    margin-left: 2%;
  }

  .card .card-description {
    margin-left: 5%;
  }
}

.stat-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 1440px;
}

.stat-image .control-word-container {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 20%;
  bottom: 5%;
}

.stat-image .control-title {
  font-size: 175px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 1.1;
}

.stat-image .control-description {
  font-size: 27px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stat-image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 1600px;
  background-color: #f7f7f7;
  padding-top: 200px;
  overflow: hidden;
}

.stat-image img {
  object-fit: cover;
  width: 100%;
  max-width: 2332.5px;
  height: auto;
}

#remote-break {
  display: none;
}

#remote-title-break {
  display: none;
}

.control-title-md {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 1.1;
}

@media (max-width: 2559.5px) {
  .stat-image img {
    width: 90%;
  }
  .stat-image .control-word-container {
    right: 10%;
  }
}

@media (max-width: 1820px) {
  .stat-image .control-title {
    font-size: 160px;
  }
  #remote-break {
    display: inline-block;
  }
  .center-horizontally {
    bottom: 15%;
    right: 10%;
    transform: translateX(-40%);
  }
}

@media (max-width: 1500px) {
  .stat-image .control-title {
    font-size: 140px;
  }
  .stat-image .control-word-container {
    right: 5%;
  }
}

@media (max-width: 1240px) {
  .stat-image .control-title {
    font-size: 110px;
  }
}

@media (max-width: 1090px) {
  .stat-image {
    padding-bottom: 100px;
  }
  .stat-image .control-title {
    font-size: 90px;
  }
  .stat-image .control-word-container {
    bottom: 5%;
    right: 5%;
    width: 70%;
  }
  .stat-image .control-description {
    width: 100%;
    white-space: normal;
  }
  #remote-break-lg {
    display: none;
  }
  #remote-break {
    display: none;
  }
}

@media (max-width: 875px) {
  .stat-image .control-title {
    font-size: 80px;
  }
  .stat-image {
    padding-bottom: 100px;
  }
  .stat-image .control-description {
    font-size: 24px;
  }
}

@media (max-width: 767.5px) {
  .stat-image .control-title {
    visibility: hidden;
    font-size: 70px;
  }

  .stat-image .control-description {
    font-size: 22px;
  }
  .stat-image .control-word-container {
    bottom: 10%;
    right: 5%;
    width: 75%;
  }
  .control-title-md {
    visibility: visible;
  }

  .stat-image {
    padding-top: 150px;
  }
}

@media (max-width: 598px) {
  .stat-image .control-title-md {
    font-size: 60px;
  }
  .stat-image {
    padding-bottom: 200px;
  }
  .stat-image .control-word-container {
    bottom: 5%;
    right: 5%;
    width: 70%;
  }
}

@media (max-width: 435px) {
  .stat-image .control-title-md {
    font-size: 45px;
  }
  .stat-image {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .stat-image .control-title {
    font-size: 50px;
  }
  .stat-image .control-description {
    font-size: 18px;
    line-height: 1.2;
  }
  .stat-image .control-word-container {
    bottom: 5%;
    right: 5%;
    width: 75%;
  }
  .stat-image {
    padding-top: 100px;
  }
}

@media (max-width: 310px) {
  .stat-image .control-title-md {
    font-size: 35px;
  }
  .stat-image .control-description {
    font-size: 18px;
    line-height: 1.1;
  }
  .stat-image {
    padding-top: 100px;
    padding-bottom: 170px;
  }
}

.stair-stat {
  background-color: #efefef;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 150px;
}

.stair-stat h1 {
  font-family: "Outfit", sans-serif;
}

.stair-stat .stair-stat-center {
  position: absolute;
  bottom: 8%;
  left: 30%;
}

.stair-stat img {
  object-fit: cover;
  width: 80%;
  height: auto;
}

.stair-stat .control-word-container {
  display: inline-block;
  text-align: left;
}

.stair-stat .control-title {
  font-size: 175px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 140px;
}

.stair-stat .control-subtitle {
  font-size: 32px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stair-stat .control-word-container-md {
  position: absolute;
  top: 5%;
  left: 5%;
  display: inline-block;
  text-align: left;
  visibility: hidden;
}

.stair-stat .control-title-md {
  font-size: 175px;
  white-space: nowrap;
  font-weight: 400;
  color: #000000;
  line-height: 140px;
}

.stair-stat .control-subtitle-md {
  font-size: 32px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stair-stat .control-description {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  line-height: 34px;
}

.stat-temp-breakline {
  display: none;
}

.stair-stat-empty {
  background-color: #d9d9d9;
}

@media (max-width: 2000px) {
  .stair-stat .stair-stat-center {
    left: 20%;
  }
}

@media (max-width: 1600px) {
  .stair-stat .stair-stat-center {
    left: 10%;
  }
  .stat-temp-breakline {
    display: inline-block;
  }
}

@media (max-width: 1200.5px) {
  .stair-stat .stair-stat-center {
    bottom: 5%;
    left: 5%;
    width: 50%;
  }
  .stair-stat .control-title {
    font-size: 150px;
  }
  .stat-temp-breakline {
    display: inline-block;
  }
}

@media (max-width: 992.5px) {
  .stat-breakline {
    display: none;
  }
  .stat-temp-breakline {
    display: none;
  }
  .stair-stat .control-description {
    white-space: normal;
  }
  .stair-stat .control-title {
    font-size: 130px;
  }
}

@media (max-width: 768.5px) {
  .stair-stat .control-word-container-md {
    visibility: visible;
  }

  .stair-stat .control-word-container .control-title {
    visibility: hidden;
  }

  .stair-stat .control-word-container .control-subtitle {
    visibility: hidden;
  }
  .stair-stat .control-description {
    line-height: 1.2;
  }
  .stair-stat-empty {
    height: 150px;
  }
}

@media (max-width: 576.5px) {
  .stair-stat .control-description {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .stair-stat .control-description {
    line-height: 1;
  }
  .stair-stat .control-title {
    font-size: 100px;
    line-height: 1.1;
  }
  .stair-stat .control-subtitle {
    font-size: 28px;
  }
  .stair-stat .stair-stat-center {
    width: 60%;
  }
}

@media (max-width: 375.5px) {
  .stair-stat .control-title {
    font-size: 80px;
  }
  .stair-stat .stair-stat-center {
    width: 70%;
  }
  .stair-stat .control-subtitle {
    font-size: 24px;
    line-height: 1.1;
  }
  .stair-stat .control-description {
    font-size: 18px;
  }
}

.image-container {
  width: 100%;
  position: relative;
}

.first-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.second-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.first-row img {
  width: 50%;
  height: 833px;
  object-fit: cover;
}

.second-row img {
  width: 50%;
  height: 833px;
  object-fit: cover;
}

.image-container .image-container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container .image-container-title {
  font-size: 210px;
  line-height: 179px;
  color: #ffffff;
  font-weight: 400;
}

.image-container .image-container-description {
  font-size: 27px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 50px;
}
